@model PortalSicoobDivicred.Models.SolicitacaoWebDesk

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>

    @if (TempData["Mensagem"] != null)
    {
        @Html.Label("")


        <script>

            iziToast.success({
                title: 'Sucesso',
                position: "center",
                message: '@TempData["Mensagem"]',
            });

        </script>
    }



    <br />
    <nav class="level ">
        <p class="level-item has-text-centered">
            <img src="/Images/Webdesk.png" alt="" style="height: 30px;">
        </p>
    </nav>
    <script src="//cdn.ckeditor.com/4.9.0/standard/ckeditor.js"></script>


    <script src='@Url.Content("~/Assets/js/jquery-ui.min.js")' type="text/javascript"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#TabWebdesk").tabs();

        CKEDITOR.replace('Descricao');

       

    });
    $('#AenxosArquivo').change(function() {
        var arq = this.files[0];
        var label = document.createElement("label");

        label.setAttribute("class", "label");

        label.innerHTML = arq.name;

        $("#ArquivosSelecioando").append(label);
        
 
    });
    function SetorSelecionado(IdSetor) {
        $("#CategoriaFuncionario").empty();
        $.ajax(
            {
                type: 'POST',
                url: '/Webdesk/RetornaCategoriaFuncionario',
                dataType: 'html',
                cache: true,
                async: true,
                data: { "IdSetor": IdSetor.value },
                success: function (data) {
                    $("#CategoriaFuncionario").append(data);
                    $.validator.unobtrusive.parse($("#CategoriaFuncionario"));

                }
            });
    }


</script>

    <div class="field is-grouped is-desktop">

        <p class="control">
            <button class="button is-primary modal-button" id="NovoChamado" onclick="javascript:$('#ModalSolicitacao').removeClass();$('#ModalSolicitacao').addClass('modal is-active');void(0);" data-target="#ModalSolicitacao" data-vivaldi-spatnav-clickable="1" onmouseleave="$('#NovoChamado').removeClass('animated pulse')" onmouseover="$('#NovoChamado').addClass('animated pulse');" data-balloon="Clique para criar um novo chamado." data-balloon-pos="down">
                <span class="icon is-small">
                    <i class="fas fa-plus-square" aria-hidden="true"></i>
                </span>
                <span class="name">Criar Solicitação</span>
            </button>
        </p>

        <p class="control">
            <button class="button is-primary" onclick="javascript:$('#ModalVaga').removeClass();$('#ModalVaga').addClass('modal is-active');void(0);" data-target="#ModalVaga" data-vivaldi-spatnav-clickable="1" id="AdcionarVagaCurriculo" onmouseleave="$('#AdcionarVagaCurriculo').removeClass('animated pulse')" onmouseover="$('#AdcionarVagaCurriculo').addClass('animated pulse');" data-balloon="Clique para visualizar seus chamados encerrados." data-balloon-pos="down">
                <span class="icon is-small">
                    <i class="fa fa-archive" aria-hidden="true"></i>
                </span>
                <span class="name">Minhas Solicitações Encerradas</span>
            </button>
        </p>

        <div class="field has-addons">
            <div class="control">
                <input class="input" id="BuscaChamado" type="text" placeholder="Ache uma solicitação...">
            </div>
            <div class="control">
                <button onclick="location.href = '@Url.Action("BuscaChamados")?Busca=' + document.getElementById('BuscaChamado').value;" class="button is-primary">
                    Pesquisar
                </button>
            </div>
        </div>
    </div>
    <div id="TabWebdesk">
        <div class="tabs is-boxed is-centered">
            <ul>
                <li id="AbaMeusChamados" class="is-active">
                    <a href="#MeusChamados" onclick="javascript:$('#AbaChamadosdoMeuSetor').removeClass();$('#AbaMeusChamadosAbertos').removeClass();$('#AbaMeusChamados').addClass('is-active');">
                        <span class="icon is-small">
                            <i class="fas fa-sticky-note" aria-hidden="true"></i>
                        </span>
                        <span>Solicitações Aguardando Meu Atendimento</span>
                    </a>
                </li>
                <li id="AbaChamadosdoMeuSetor">
                    <a href="#ChamadosSetor" onclick="javascript:$('#AbaMeusChamadosAbertos').removeClass();$('#AbaMeusChamados').removeClass();$('#AbaChamadosdoMeuSetor').addClass('is-active');">
                        <span class="icon is-small">
                            <i class="fa fa-tag"></i>
                        </span>
                        <span>Solicitações do Meu Setor</span>
                    </a>
                </li>
                <li id="AbaMeusChamadosAbertos">
                    <a href="#MeusChamadosAberto" onclick="javascript:$('#AbaChamadosdoMeuSetor').removeClass();$('#AbaMeusChamados').removeClass();$('#AbaMeusChamadosAbertos').addClass('is-active');">
                        <span class="icon is-small">
                            <i class="fa fa-inbox"></i>
                        </span>
                        <span>Minhas solicitações em Atendimento</span>
                    </a>
                </li>

            </ul>
        </div>
        <div id="MeusChamados">
            <p>teste</p>
        </div>
        <div id="ChamadosSetor">
            <p>teste</p>
        </div>
        <div id="MeusChamadosAberto">
            <p>teste</p>
        </div>
    </div>

    <script src='@Url.Content("~/Scripts/jquery.validate.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")' type="text/javascript"></script>
    @using (Html.BeginForm("CadastrarSolicitacao", "Webdesk",FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div id="ModalSolicitacao" class="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Cadastrar Solicitação</p>
                    <a href="javascript:$('#ModalSolicitacao').removeClass();$('#ModalSolicitacao').addClass('modal');void(0);" class="delete"></a>
                </header>
                <section class="modal-card-body">

                    <div class="field">
                        <label class="label">Setor Responsável:</label>
                        <p class="select is-fullwidth">
                            @Html.DropDownListFor(m => m.IdSetorResponsavel, new SelectList(Model.SetorResponsavel, "Value", "Text"), "SELECIONE O SETOR RESPONSAVEL", new { id = "SetorResponsavel", onchange = "SetorSelecionado(this)" })
                            @Html.ValidationMessageFor(m => m.IdSetorResponsavel, null, new { style = "color:red" })
                        </p>
                    </div>
                    <div id="CategoriaFuncionario">

                    </div>
                    <div id="anexos" class="AreaAnexo">
                        <div class="field">
                            <div class="file is-primary">
                                <label class="file-label">
                                    <input class="file-input" type="file" multiple name="AenxosArquivo" onchange="ArquivoSelecionado(event)">
                                    <span class="file-cta">
                                        <span class="file-icon">
                                            <i class="fas fa-upload"></i>
                                        </span>
                                        <span class="file-label">
                                            Selecione os arquivos para anexar
                                        </span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <blockquote >
                        <div id="ArquivosSelecioando" name="ArquivosSelecioando">

                        </div>
                    </blockquote>
                    <div class="field is-grouped">
                        <div class="field control">
                            <label class="label">Descrição da sua solicitação:</label>
                            <p class="control is-fullwidth">
                                @Html.TextAreaFor(m => m.Descricao, new { @class = "textarea", id = "Descricao" })
                                @Html.ValidationMessageFor(m => m.Descricao, null, new { style = "color:red" })
                            </p>

                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button type="submit" class="button is-success">Cadastrar Solicitação</button>
                    <a class="button" href="javascript:$('#ModalSolicitacao').removeClass();$('#ModalSolicitacao').addClass('modal');void(0);">Cancelar</a>
                </footer>
            </div>
        </div>
    }
</body>