@model PortalSicoobDivicred.Models.SolicitacaoWebDesk

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>

    @if (TempData["Mensagem"] != null)
    {
        @Html.Label("")


        <script>

            iziToast.success({
                title: 'Sucesso',
                position: "center",
                message: '@TempData["Mensagem"]',
            });

        </script>
    }



    <br />
    <nav class="level ">
        <p class="level-item has-text-centered">
            <img src="/Images/Webdesk.png" alt="" style="height: 30px;">
        </p>
    </nav>
    <script src="//cdn.ckeditor.com/4.9.0/standard/ckeditor.js"></script>


    <script src='@Url.Content("~/Assets/js/jquery-ui.min.js")' type="text/javascript"></script>

    <script type="text/javascript">

        var multiFiles = [];

        function multiUp(e) {
            $(e).removeClass("file-input");
            $(e).hide();
            $("#formesconde").hide();
            $("#" + multiFiles.length).hide();
            this.__fileHolder = document.querySelector("#ArquivosSelecionados");

            this.__fileHolder.innerHTML = '';
            var i;

            for (i = 0; i < e.files.length; i++) {
                this.multiFiles.push(e.files[i]);

            }
            $("#Upload-form").append(
                " <div id=" + multiFiles.length + " class='field is-fullwidth'><div class='file is-primary'><label class='file-label'><input class='file-input' multiple type='file' onchange='multiUp(this)' name='postedFiles'><span class='file-cta'><span class='file-icon'><i class='fas fa-upload'></i></span><span class='file-label'>Anexar Arquivos</span></span></label></div></div>");
            for (i = 0; i < this.multiFiles.length; i++) {
                addDeleteBtn(i, this, this.multiFiles[i].name);
            }

        }

        function addDeleteBtn(f, input, NomeArquivo) {

            var Div2 = document.createElement('div');
            Div2.className = 'control';

            var Div3 = document.createElement('div');
            Div3.className = 'tags has-addons';


            var Nome = document.createElement('span');
            Nome.className = 'tag is-dark ';
            Nome.innerHTML = NomeArquivo;

            Div2.append(Div3);

            Div3.append(Nome);

            var del = document.createElement('a');
            del.className = 'tag is-delete is-primary';
            del.title = 'remove this file';

            del.addEventListener('click', function () {


                $("#" + input.multiFiles.length).remove();

                input.multiFiles.splice(f, 1);

                $("#" + input.multiFiles.length).show();


                input.__fileHolder.innerHTML = "";;

                var fileLength = input.multiFiles.length;

                if (fileLength > 0) {
                    for (var i = 0; i < fileLength; i++) {


                        var Div2 = document.createElement('div');
                        Div2.className = 'control';

                        var Div3 = document.createElement('div');
                        Div3.className = 'tags has-addons';

                        var Nome = document.createElement('span');
                        Nome.className = 'tag is-dark';
                        Nome.innerHTML = input.multiFiles[i].name;

                        var del = document.createElement('a');
                        del.className = 'tag is-delete is-primary';
                        del.title = 'remove this file';

                        input.__fileHolder.appendChild(Div3);
                        addDeleteBtn(i, input, input.multiFiles[i].name);
                    }
                }
                else { $("#formesconde").show(); input.__fileHolder.innerHTML = 'Selecione um arquivo'; }
            }, false);
            Div3.append(del);
            input.__fileHolder.appendChild(Div2);
        }

        $(document).ready(function () {

            $("#TabWebdesk").tabs();
            CKEDITOR.replace('Descricao');

            $("#container").progressbar({
                value: 37
            });

        });



        function SetorSelecionado(IdSetor) {
            $("#CategoriaFuncionario").empty();
            $.ajax(
                {
                    type: 'POST',
                    url: '/Webdesk/RetornaCategoriaFuncionario',
                    dataType: 'html',
                    cache: true,
                    async: true,
                    data: { "IdSetor": IdSetor.value },
                    success: function (data) {
                        $("#CategoriaFuncionario").append(data);
                        $.validator.unobtrusive.parse($("#CategoriaFuncionario"));
                        $("form").removeData("validator");
                        $("form").removeData("unobtrusiveValidation");
                        $.validator.unobtrusive.parse("form");
                    }
                });
        }


    </script>
    <style>
        #add {
            font-size: 2em;
            cursor: pointer;
        }

        #fileHolder {
            color: rgba(0,0,0,.7);
            max-width: 80%;
            font-size: 70%;
            overflow-x: auto;
            white-space: nowrap;
            display: inline-block;
        }

        .deleteBtn {
            cursor: pointer;
            color: #000;
        }

        #container {
            margin: 20px;
            width: 400px;
            height: 8px;
            position: relative;
        }
    </style>
    <div class="field is-grouped is-desktop">

        <p class="control">
            <button class="button is-primary modal-button" id="NovoChamado" onclick="javascript:$('#ModalSolicitacao').removeClass();$('#ModalSolicitacao').addClass('modal is-active');void(0);" data-target="#ModalSolicitacao" data-vivaldi-spatnav-clickable="1" onmouseleave="$('#NovoChamado').removeClass('animated pulse')" onmouseover="$('#NovoChamado').addClass('animated pulse');" data-balloon="Clique para criar um novo chamado." data-balloon-pos="down">
                <span class="icon is-small">
                    <i class="fas fa-plus-square" aria-hidden="true"></i>
                </span>
                <span class="name">Criar Solicitação</span>
            </button>
        </p>

        <p class="control">
            <button class="button is-primary" onclick="javascript:$('#ModalVaga').removeClass();$('#ModalVaga').addClass('modal is-active');void(0);" data-target="#ModalVaga" data-vivaldi-spatnav-clickable="1" id="AdcionarVagaCurriculo" onmouseleave="$('#AdcionarVagaCurriculo').removeClass('animated pulse')" onmouseover="$('#AdcionarVagaCurriculo').addClass('animated pulse');" data-balloon="Clique para visualizar seus chamados encerrados." data-balloon-pos="down">
                <span class="icon is-small">
                    <i class="fa fa-archive" aria-hidden="true"></i>
                </span>
                <span class="name">Minhas Solicitações Encerradas</span>
            </button>
        </p>

        <div class="field has-addons">
            <div class="control">
                <input class="input" id="BuscaChamado" type="text" placeholder="Ache uma solicitação...">
            </div>
            <div class="control">
                <button onclick="location.href = '@Url.Action("BuscaChamados")?Busca=' + document.getElementById('BuscaChamado').value;" class="button is-primary">
                    Pesquisar
                </button>
            </div>
        </div>
    </div>
    <div id="TabWebdesk">
        <div class="tabs is-boxed is-centered">
            <ul>
                <li id="AbaMeusChamados" class="is-active">
                    <a href="#MeusChamados" onclick="javascript:$('#AbaChamadosdoMeuSetor').removeClass();$('#AbaMeusChamadosAbertos').removeClass();$('#AbaMeusChamados').addClass('is-active');">
                        <span class="icon is-small">
                            <i class="fas fa-sticky-note" aria-hidden="true"></i>
                        </span>
                        <span>Solicitações Aguardando Meu Atendimento</span>
                    </a>
                </li>
                <li id="AbaChamadosdoMeuSetor">
                    <a href="#ChamadosSetor" onclick="javascript:$('#AbaMeusChamadosAbertos').removeClass();$('#AbaMeusChamados').removeClass();$('#AbaChamadosdoMeuSetor').addClass('is-active');">
                        <span class="icon is-small">
                            <i class="fa fa-tag"></i>
                        </span>
                        <span>Solicitações do Meu Setor</span>
                    </a>
                </li>
                <li id="AbaMeusChamadosAbertos">
                    <a href="#MeusChamadosAberto" onclick="javascript:$('#AbaChamadosdoMeuSetor').removeClass();$('#AbaMeusChamados').removeClass();$('#AbaMeusChamadosAbertos').addClass('is-active');">
                        <span class="icon is-small">
                            <i class="fa fa-inbox"></i>
                        </span>
                        <span>Minhas solicitações em Atendimento</span>
                    </a>
                </li>

            </ul>
        </div>
        <div id="MeusChamados">
            <p>teste</p>
        </div>
        <div id="ChamadosSetor">
            <p>teste</p>
        </div>
    <div id="MeusChamadosAberto">
        <table id="TabelaChamados" class="lista-curriculo table is-striped is-centered is-desktop" style="box-shadow: 2px 2px 2px grey; text-align: center;">
        <thead>
        <th class="has-text-centered">N° Chamado</th>
        <th class="has-text-centered">Titulo</th>
        <th class="has-text-centered">Funcionário Responsavel</th>
        <th class="has-text-centered">Status</th>
        <th class="has-text-centered">SLA</th>
        </thead>
        <tbody>
                    
        @for (int j = 0; j < Convert.ToInt32(TempData["TotalChamados"].ToString()); j++)
        {
            <tr>
        <td class="has-text-centered">@TempData["Numero" + j].ToString()</td>
        <td class="has-text-centered">@TempData["Titulo" + j].ToString()</td>
        <td class="has-text-centered">@TempData["Operador" + j].ToString()</td>
        <td class="has-text-centered">@TempData["Situacao" + j].ToString()</td>
        <td class="has-text-centered"><div data-balloon="@TempData["InformacaoSLA"+j]" data-balloon-pos="rigth"><progress class="progress is-primary" value="@TempData["Sla"+j]" max="100" >15%</progress></div></td>
                        </tr>
                    }
                </tbody>
                </table>
        </div>
    </div>

    <script src='@Url.Content("~/Scripts/jquery.validate.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")' type="text/javascript"></script>
    @using (Html.BeginForm("CadastrarSolicitacao", "Webdesk", FormMethod.Post, new { enctype = "multipart/form-data", id = "Cadastro" }))
    {
        <div id="ModalSolicitacao" class="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Cadastrar Solicitação</p>
                    <a href="javascript:$('#ModalSolicitacao').removeClass();$('#ModalSolicitacao').addClass('modal');void(0);" class="delete"></a>
                </header>
                <section class="modal-card-body">

                    <div class="field">
                        <label class="label">Setor Responsável:</label>
                        <p class="select is-fullwidth">
                            @Html.DropDownListFor(m => m.IdSetorResponsavel, new SelectList(Model.SetorResponsavel, "Value", "Text"), "SELECIONE O SETOR RESPONSAVEL", new { id = "SetorResponsavel", onchange = "SetorSelecionado(this)" })
                            @Html.ValidationMessageFor(m => m.IdSetorResponsavel, null, new { style = "color:red" })
                        </p>
                    </div>
                    <script src='@Url.Content("~/Scripts/jquery.validate.js")' type="text/javascript"></script>
                    <script src='@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")' type="text/javascript"></script>
                    <div id="CategoriaFuncionario">

                    </div>
                    <br />
                    <div id="anexos" class="AreaAnexo">
                        <div id="formesconde">
                            <div div="Primeiro" class="field is-fullwidth">
                                <div class="file is-primary">
                                    <label class="file-label">

                                        <input class="file-input" multiple type="file" onchange="multiUp(this)" name="postedFiles">


                                        <span class="file-cta">
                                            <span class="file-icon">
                                                <i class="fas fa-upload"></i>
                                            </span>
                                            <span class="file-label">
                                                Anexar Arquivos
                                            </span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div id="Upload-form">

                        </div>

                    </div>
                    <br />
                    <p>Arquivos </p>
                    <div id="ArquivosSelecionados" class="field is-grouped is-grouped-multiline">

                        Nenhum anexo selecionado.
                    </div>
                    <br />
                    <div class="field is-grouped">
                        <div class="field control">
                            <label class="label">Descrição da sua solicitação:</label>
                            <p class="control is-fullwidth">
                                @Html.TextAreaFor(m => m.Descricao, new { @class = "textarea", id = "Descricao", @required = true })
                                @Html.ValidationMessageFor(m => m.Descricao, null, new { style = "color:red" })
                            </p>

                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button type="submit" class="button is-success">Cadastrar Solicitação</button>
                    <a class="button" href="javascript:$('#ModalSolicitacao').removeClass();$('#ModalSolicitacao').addClass('modal');void(0);">Cancelar</a>
                </footer>
            </div>
        </div>
    }
</body>