@model PortalSicoobDivicred.Models.Formulario


<script>
    $(function () {
        $("#EscondeCombo").hide();
        $('input[type=radio][name=Combo]').change(function () {
            if (this.value === 'S') {
                $("#EscondeCombo").show();
                $("#EscondeCombo").removeAttr("hidden");
            } else if (this.value === 'N') {
                $("#EscondeCombo").hide();

            }
        });
    });

    function AdicionaCampo() {

        if ($("#NomeCampo").val() === "") {
            iziToast.error({
                title: 'Erro',
                message: 'Favor preencher o nome do campo !',
                position: 'center'
            });
        } else if ($("#NomeCombo").val() !== "" && $('input[type=radio][name=Combo]:checked').val() === 'S') {
            iziToast.error({
                title: 'Erro',
                message: 'Favor preencher o nome da opção pai!',
                position: 'center'
            });
        }
        else {
            if ($("#NomeCombo").val() !== "") {
                $("#TabelaCampo tbody").append(
                    "<tr>" +
                    "<td class='has-text-centered'>" +
                    $("#NomeCampo").val() +
                    "</td>" +
                    "<td  class='has-text-centered'>" +
                    $('input[type=radio][name=CampoObrigatorio]:checked').val() +
                    "</td>" +
                    "<td  class='has-text-centered'>" +
                    $('input[type=radio][name=Combo]:checked').val() +
                    "</td>" +
                    "<td  class='has-text-centered'> " +
                    $("#NomeCombo").val() +
                    "</td>" +
                    "<td  class='has-text-centered'><a class='button is-rounded is-danger excluir is-small' data-balloon='Remover Campo' data-balloon-pos='left' ><span class='icon is-small'><i class='fa fa-times' aria-hidden='true'></i></span></a></td>" +
                    "</tr>");
                $(".excluir").bind("click", Excluir);
            } else {
                $("#TabelaCampo tbody").append(

                    "<tr>" +
                    "<td class='has-text-centered'>" +
                    $("#NomeCampo").val() +
                    "</td>" +
                    "<td  class='has-text-centered'>" +
                    $('input[type=radio][name=CampoObrigatorio]:checked').val() +
                    "</td>" +
                    "<td  class='has-text-centered'>" +
                    $('input[type=radio][name=Combo]:checked').val() +
                    "</td>" +
                    "<td  class='has-text-centered'>NENHUM</td>" +
                    "<td  class='has-text-centered'><a class='button is-rounded is-danger excluir is-small' data-balloon='Remover Campo' data-balloon-pos='left' ><span class='icon is-small'><i class='fa fa-times' aria-hidden='true'></i></span></a></td>" +
                    "</tr>");

                $(".excluir").bind("click", Excluir);
            }
        }
    }

    function Excluir() {
        $(this).parents('tr').remove();
    }


</script>



<div>
    <div class="field">
        <div class="control">
            <label class="label">Categoria Vinculada</label>
            <div class="select is-fullwidth">
                @Html.DropDownListFor( m => m.IdCategoria, new SelectList( Model.DescricaoCategoria, "Value", "Text" ), "SELECIONE A CATEGORIA", new { id = "IdCategoria" } )
                @Html.ValidationMessageFor( m => m.IdCategoria, null, new { style = "color:red" } )
            </div>
        </div>
    </div>
    <div class="field is-grouped">

        <p class="control column is-12 is-expanded">
            <label class="label">Nome do Campo</label>
            @Html.TextBoxFor( m => m.NomeCampo, null, new { @class = "input", placeholder = "Ex:CPF do cooperado", id = "NomeCampo" } )
            @Html.ValidationMessageFor( m => m.NomeCampo, null, new { style = "color:red" } )
        </p>
    </div>
    <div class="field is-grouped">
        <div class="control column is-5">
            <label class="label">O campo é obrigatório ?</label>
            <div class="field">
                @Html.RadioButtonFor( m => m.CampoObrigatorio, "S", new { @class = "is-checkradio is-small", id = "checkobrigatoriosim" } )
                <label for="checkobrigatoriosim">
                    Sim
                </label>
                @Html.RadioButtonFor( m => m.CampoObrigatorio, "N", new { @class = "is-checkradio is-small", id = "checkobrigatorionao" } )
                <label for="checkobrigatorionao">
                    Não
                </label>
                @Html.ValidationMessageFor( m => m.CampoObrigatorio, null, new { style = "color:red" } )
            </div>
        </div>
    </div>
    <div class="field is-grouped">
        <div class="control column is-12">
            <label class="label">O campo é um item de uma lista ?</label>
            <div class="field">
                @Html.RadioButtonFor( m => m.Combo, "S", new { @class = "is-checkradio is-small", id = "checkcombosim" } )
                <label for="checkcombosim">
                    Sim
                </label>
                @Html.RadioButtonFor( m => m.Combo, "N", new { @class = "is-checkradio is-small", id = "checkcombonao" } )
                <label for="checkcombonao">
                    Não
                </label>
                @Html.ValidationMessageFor( m => m.Combo, null, new { style = "color:red" } )
            </div>
        </div>
    </div>
    <div id="EscondeCombo" class="column is-12 is-expanded" hidden="true">
        <div class="control ">
            <label class="label">Nome da Lista</label>
            @Html.TextBoxFor( m => m.NomeCombo, null, new { @class = "input", placeholder = "Ex: TIPO DE GENÊRO", id = "NomeCombo" } )
            @Html.ValidationMessageFor( m => m.NomeCombo, null, new { style = "color:red" } )
        </div>
    </div>
    <br />

    <div class="column is-12">
        <div class="field">
            <p class="control">
                <button class="button is-primary" onclick="AdicionaCampo()" data-balloon='Clique para adicionar o campo ao formulário' data-balloon-pos='up'>
                    <span class="icon is-small">
                        <i class="fas fas fa-plus"></i>
                    </span><span>Adicionar Campo ao Formulário</span>
                </button>
            </p>
        </div>
    </div>
    <hr />
    <h2 class="title is-4">Campos do Formulário</h2>
    <table id="TabelaCampo" class="table is-striped is-centered is-desktop is-fullwidth">
        <thead>
        <th class="has-text-centered">Nome do Campo</th>
        <th class="has-text-centered">Obrigatório</th>
        <th class="has-text-centered">É um Item de uma Lista</th>
        <th class="has-text-centered">Nome da Lista</th>
        <th class="has-text-centered">Remover</th>
        </thead>
        <tbody></tbody>
    </table>
</div>