@model PortalSicoobDivicred.Models.Parametros



<script type="text/javascript" src="@Url.Content("~/Assets/js/jquery-time-duration-picker.js")"></script>
<script>


    document.getElementById('scroll')
        .addEventListener('scroll', function (event) {
            console.log("Scrolling");
            $('#EditarTempoSubTarefa').blur();

        });




    $(function () {
        $('#TempoSubTarefa').timeDurationPicker({
            defaultValue: function () {
                return $('#seconds').val();
            },
            onSelect: function (element, seconds, duration) {
                $('#seconds').val(seconds);
                $('#TempoSubTarefa').val(duration);
            }
        });
    });

    function Buscar() {

        $("#ListaSubtarefas").empty();
        $.ajax(
            {

                type: 'Post',
                url: '/Parametros/BuscaSubtarefa',
                dataType: 'html',
                cache: true,
                async: true,
                data: { "DescricaoSubtarefa": $("#BuscaSubtarefa").val() },
                success: function (data) {

                    $("#ListaSubtarefas").append(data);
                }
            });
    }


</script>




<div class="field is-grouped is-desktop">
    <p class="control" style="z-index: 2">
        <button class="button is-primary modal-button" id="NovoChamado" onmouseleave="$('#NovoChamado').removeClass('animated pulse')" onmouseover="$('#NovoChamado').addClass('animated pulse');" data-balloon="Clique para editar uma subtarefa existente." data-balloon-pos="down" onclick="javascript: $('#ModalSubtarefa').removeClass();$('#ModalSubtarefa').addClass('modal is-active');void(0);">
            <span class="icon is-small">
                <i class="fas fa-edit" aria-hidden="true"></i>
            </span>
            <span class="name">Editar Subtarefas</span>

        </button>
    </p>
</div>

<script src='@Url.Content("~/Scripts/jquery.validate.js")' type="text/javascript" />
<script src='@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")' type="text/javascript"></script>
@using (Html.BeginForm("SalvarSubtarefa", "Parametros", FormMethod.Post))
{
    <div class="card">

        <header class="card-header">
            <p class="card-header-title">
                Cadastro de Subtarefas
            </p>
        </header>
        <div class="card-content">
            <div class="columns content">
                <div class="column is-5" id="descricaoSubtarefas">
                    <label class="label">Descrição Subtarefas</label>
                    @Html.TextBoxFor(m => m.SubtarefasDescricao, null, new { @class = "input", type = "Text", step = "0.01" })
                    @Html.ValidationMessageFor(m => m.SubtarefasDescricao, null, new { style = "color:red" })

                </div>


                <div class="column is-5">
                    <div class="control" id="tarefaVinculada">
                        <label class="label">Tarefa Vinculada</label>
                        <div class="select is-1 is-fullwidth">
                            @Html.DropDownListFor(m => m.idTarefaSubtarefas, new SelectList(Model.DescricaoTarefas, "Value", "Text"), "SELECIONE A TAREFA VINCULADA", new { id = " descricao" })
                            @Html.ValidationMessageFor(m => m.DescricaoTarefas, null, new { style = "color:red" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns content">
                <div class="column is-5">
                    <div class="control" id="tarefaVinculada">
                        <label class="label">Funcionário Responsável</label>
                        <div class="select is-1 is-fullwidth">
                            @Html.DropDownListFor(m => m.id, new SelectList(Model.FuncionariosNome, "Value", "Text"), "SELECIONE O FUNCIONÁRIO RESPONSÁVEL", new { id = " descricao" })
                            @Html.ValidationMessageFor(m => m.FuncionariosNome, null, new { style = "color:red" })
                        </div>
                    </div>
                </div>
                <div class="column is-5">
                    <p class="control">
                        <label class="label">Tempo de Atendimento Tarefa</label>
                        @Html.TextBoxFor(m => m.TempoSubTarefa, null, new { @class = "input", id = "TempoSubTarefa", autocomplete = "off" })
                        <input type="hidden" name="seconds" value="12345" name="Valor" id="seconds" />
                        @Html.ValidationMessageFor(m => m.TempoSubTarefa, null, new { style = "color:red" })
                    </p>
                </div>
            </div>
            <div class="columns content">
                <div class="control column">

                    <div class="field">
                        <label class="label">Múltiplo Atendente?</label>
                        @Html.RadioButtonFor(m => m.MultiploAtendente, "S", new { @class = "is-checkradio is-small", id = "MultiploAtendentesim", @checked = "checked" })
                        <label for="MultiploAtendentesim">
                            Sim
                        </label>
                        @Html.RadioButtonFor(m => m.MultiploAtendente, "N", new { @class = "is-checkradio is-small", id = "MultiploAtendentenao" })
                        <label for="MultiploAtendentenao">
                            Não
                        </label>
                        @Html.ValidationMessageFor(m => m.MultiploAtendente, null, new { style = "color:red" })
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br>
    <div>
        <p class="control">
            <button type="submit" class="button is-success " id="CadastroSubtarefa" data-balloon="Clique para cadastrar um usuário." data-balloon-pos="down">
                <span class="icon is-small">
                    <i class="fas fa-save" aria-hidden="true"></i>
                </span>
                <span class="name">Cadastrar Subtarefa</span>
            </button>
        </p>
    </div>
}

@using (Html.BeginForm("AtualizaDadosSubtarefa", "Parametros", FormMethod.Post))
{


    <div id="ModalSubtarefa" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Editar Subtarefa</p>
                <a href="javascript:$('#ModalSubtarefa').removeClass();$('#ModalSubtarefa').addClass('modal');void(0);" class="delete"></a>
            </header>
            <section class="modal-card-body" id="scroll">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            Subtarefas
                        </p>

                    </header>
                    <div class="card-content">
                        <div class="content">

                            <div class="field has-addons">
                                <div class="control has-icons-left is-expanded">
                                    <input id="BuscaSubtarefa" class="input is-fullwidth" type="text" placeholder="Busque uma subtarefa.">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </div>
                                <div class="control">
                                    <a href="Javascript:Buscar();void(0);" class="button is-success">
                                        Procurar
                                    </a>
                                </div>
                            </div>
                            <ul id="ListaSubtarefas"></ul>
                        </div>
                    </div>
                </div>
                <div id="EdicaoSubtarefas" hidden>
                    <br />
                </div>
            </section>

            <footer class="modal-card-foot">
                <a class="button" href="javascript:$('#ModalSubtarefa').removeClass();$('#ModalSubtarefa').addClass('modal');void(0);">Cancelar</a>
                <div class="control">
                    <button type="submit" id="SalvaSubtarefa" disabled class="button is-success">Salvar Subtarefa</button>
                </div>
            </footer>

        </div>
    </div>


}