@model PortalSicoobDivicred.Models.SolicitacaoWebDesk

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["MensagemValidacao"] != null)
{
    @Html.Label("")


<script>

    iziToast.success({
        title: 'Sucesso',
        position: "center",
        message: '@TempData["MensagemValidacao"]'
    });

</script>
}

@if (TempData["Erro"] != null)
{
    @Html.Label("")


<script>

    iziToast.error({
        title: 'Erro',
        position: "center",
        message: '@TempData["Erro"]'
    });

</script>
}

<script>
    function Funcionario() {
        $("#ParametroSelecionado").empty();
        $("#PanelGrupo").addClass("panel-block");
        $("#PanelPermissao").addClass("panel-block");
        $("#PanelPermissaoFuncionario").addClass("panel-block");



        $.ajax(
            {
                type: 'GET',
                url: '/Parametros/Funcionario',
                dataType: 'html',
                cache: true,
                async: true,
                success: function (data) {
                    $("#ParametroSelecionado").append(data);
                }
            });

    }
    function Grupo() {
        $("#ParametroSelecionado").empty();
        $("#PanelFuncionario").addClass("panel-block");
        $("#PanelPermissao").addClass("panel-block");
        $("#PanelPermissaoFuncionario").addClass("panel-block");


        $.ajax(
            {
                type: 'GET',
                url: '/Parametros/Grupo',
                dataType: 'html',
                cache: true,
                async: true,
                success: function (data) {
                    $("#ParametroSelecionado").append(data);

                }
            });

    }

    function Permissao() {
        $("#ParametroSelecionado").empty();
        $("#PanelGrupo").addClass("panel-block");
        $("#PanelFuncionario").addClass("panel-block");
        $("#PanelPermissaoFuncionario").addClass("panel-block");


        $.ajax(
            {
                type: 'GET',
                url: '/Parametros/Permissao',
                dataType: 'html',
                cache: true,
                async: true,
                success: function (data) {
                    $("#ParametroSelecionado").append(data);



                }
            });

    }

    function PermissaoFuncionario() {
        $("#ParametroSelecionado").empty();
        $("#PanelGrupo").addClass("panel-block");
        $("#PanelFuncionario").addClass("panel-block");


        $.ajax(
            {
                type: 'GET',
                url: '/Parametros/PermissaoFuncionario',
                dataType: 'html',
                cache: true,
                async: true,
                success: function (data) {
                    $("#ParametroSelecionado").append(data);



                }
            });

    }

    function Tarefas() {
        $("#ParametroSelecionado").empty();
        $("#PanelGrupo").addClass("panel-block");
        $("#PanelFuncionario").addClass("panel-block");
        $("#PermissaoFuncionario").addClass("panel-block");

        $.ajax(
            {
                type: 'GET',
                url: '/Parametros/Tarefas',
                dataType: 'html',
                cache: true,
                async: true,
                success: function (data) {
                    $("#ParametroSelecionado").append(data);



                }
            });

    }

    function Subtarefas() {
        $("#ParametroSelecionado").empty();
        $("#PanelGrupo").addClass("panel-block");
        $("#PanelFuncionario").addClass("panel-block");
        $("#PermissaoFuncionario").addClass("panel-block");
        $("#PanelTarefas").addClass("panel-block");

        $.ajax(
            {
                type: 'GET',
                url: '/Parametros/Subtarefas',
                dataType: 'html',
                cache: true,
                async: true,
                success: function (data) {
                    $("#ParametroSelecionado").append(data);



                }
            });

    }





</script>
<body>

    @if (TempData["Mensagem"] != null)
    {
    @Html.Label("")


    <script>

        iziToast.success({
            title: 'Sucesso',
            position: "center",
            message: '@TempData["Mensagem"]'
        });

    </script>
    }


    <br />
    <nav class="level ">
        <p class="level-item has-text-centered">
            <img src="/Images/Webdesk.png" alt="" style="height: 30px;">
        </p>
    </nav>


    <script src='@Url.Content("~/Assets/js/jquery.tablesorter.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Assets/js/jquery.tablesorter.pager.js")' type="text/javascript"></script>
    <script src="//cdn.ckeditor.com/4.9.0/standard/ckeditor.js"></script>


    <style>
        #add {
            cursor: pointer;
            font-size: 2em;
        }

        #fileHolder {
            color: rgba(0, 0, 0, .7);
            display: inline-block;
            font-size: 70%;
            max-width: 80%;
            overflow-x: auto;
            white-space: nowrap;
        }

        .deleteBtn {
            color: #000;
            cursor: pointer;
        }
    </style>
    <div class="column is-12">

        <div class="column is-4" id="Parametros" style="float:left">

            <div class="columns">
                <div class="column -is-6">
                    <nav class="panel">
                        <p class="panel-heading">
                            Parâmetros
                        </p>
                        <a id="PanelFuncionario" style="background-color: white" class="panel-block" href="Javascript:Funcionario();void(0);">
                            <span class="panel-icon">
                                <i class="fas fa-address-card"></i>
                            </span>
                            Funcionários
                        </a>
                        <a id="PanelGrupo" style="background-color: white" class="panel-block" href="Javascript:Grupo();void(0);">
                            <span class="panel-icon">
                                <i class="fas fa-address-card"></i>
                            </span>
                            Grupos
                        </a>
                        <a id="PanelPermissao" style="background-color: white" class="panel-block" href="Javascript:Permissao();void(0);">
                            <span class="panel-icon">
                                <i class="fas fa-address-card"></i>
                            </span>
                            Permissões(Grupos)
                        </a>
                        <a id="PanelPermissaoFuncionario" style="background-color: white" class="panel-block" href="Javascript:PermissaoFuncionario();void(0);">
                            <span class="panel-icon">
                                <i class="fas fa-address-card"></i>
                            </span>
                            Permissões(Funcionários)
                        </a>

                        <a id="PanelTarefas" style="background-color: white" class="panel-block" href="Javascript:Tarefas();void(0);">
                            <span class="panel-icon">
                                <i class="fas fa-address-card"></i>
                            </span>
                            Tarefas
                        </a>

                        <a id="PanelSubtarefas" style="background-color: white" class="panel-block" href="Javascript:Subtarefas();void(0);">
                            <span class="panel-icon">
                                <i class="fas fa-address-card"></i>
                            </span>
                            Subtarefas
                        </a>


                    </nav>
                </div>
            </div>
        </div>

        <div class="column is-8" id="ParametroSelecionado" style="float:right">
        </div>

    </div>

    <script src='@Url.Content("~/Scripts/jquery.validate.js")' type="text/javascript">
    </script>
    <script src='@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")' type="text/javascript"></script>

</body>