<script src='@Url.Content("~/Assets/js/jquery-ui.min.js")' type="text/javascript"></script>
<script src='@Url.Content("~/Assets/js/jquery.tablesorter.min.js")' type="text/javascript"></script>
<link href="@Url.Content("~/Assets/css/over.css")" rel="stylesheet" />
<link href="@Url.Content("~/Assets/css/animate.css")" rel="stylesheet" />
<br />
<nav class="level ">
    <p class="level-item has-text-centered">
        <img src="/Images/Colaborador.png" alt="" style="height: 30px;">
    </p>
</nav>
<script>
    function GerenciarVaga(IdVaga) {
        $("#Conteudo").empty();
        $.ajax(
            {
                type: 'POST',
                url: '/PainelColaborador/GerenciarVaga',
                dataType: 'html',
                cache: true,
                async: true,
                data: { "IdVaga": IdVaga },
                success: function (data) {
                    var tamanho = $(window).height();
                    $("body").css('height', tamanho);
                    $("#Conteudo").append(data);
                    windowHeight = $(document).height();
                    $('#CorpoPrincipal').css('height', windowHeight);
                    $('#CorpoPrincipal').css('background', '#e6e6e6');

                }
            });

    }
    $(function () {
        $("#TabFuncionalidades").tabs();
        $("#TabFuncionalidadesPerfil").tabs();
    });

    function VerPerfil(Login) {
        $("#PerfilCompleto").empty();
        $.ajax(
            {
                type: 'GET',
                url: '/PainelColaborador/PerfilFuncionario',
                dataType: 'html',
                cache: true,
                async: true,
                data: { "Login": Login },
                success: function (data) {
                    $("#PerfilCompleto").append(data);
                    $('#ModalPerfil').removeClass();
                    $('#ModalPerfil').addClass('modal is-active');
                }
            });

    }

    function CadastroVaga() {
        $("#VagaInternaCompleta").empty();
        $.ajax(
            {
                type: 'GET',
                url: '/PainelColaborador/Vaga',
                dataType: 'html',
                cache: true,
                async: true,
                success: function (data) {
                    $("#VagaInternaCompleta").append(data);
                    $('#ModalVaga').removeClass();
                    $('#ModalVaga').addClass('modal is-active');
                }
            });
    }
    function AlterarVaga(IdVaga) {
        $("#VagaCompleta").empty();
        $.ajax(
            {
                type: 'POST',
                url: '/PainelColaborador/AlterarVaga',
                dataType: 'html',
                cache: true,
                async: true,
                data: { "IdVaga": IdVaga },
                success: function (data) {
                    $("#VagaCompleta").append(data);
                    $('#ModalEditarVaga').removeClass();
                    $('#ModalEditarVaga').addClass('modal is-active');

                }
            });

    }


</script>

<div id="TabFuncionalidades">
    <div class="tabs is-boxed is-centered">
        <ul>
            <li id="AbaPerfilFuncionario" class="is-active">
                <a href="#PerfilFuncionario" onclick="javascript:$('#AbaBancoDeHoras').removeClass();$('#AbaFerias').removeClass();$('#AbaTreinamento').removeClass();$('#AbaIndicadores').removeClass();$('#AbaPerfilFuncionario').addClass('is-active');">
                    <span class="icon is-small">
                        <i class="fa fa-book" aria-hidden="true"></i>
                    </span>
                    <span>Funcionários</span>
                </a>
            </li>
            <li id="AbaBancoDeHoras">
                <a href="#BancodeHoras" onclick="javascript:$('#AbaPerfilFuncionario').removeClass();$('#AbaFerias').removeClass();$('#AbaTreinamento').removeClass();$('#AbaIndicadores').removeClass();$('#AbaBancoDeHoras').addClass('is-active');">
                    <span class="icon is-small">
                        <i class="fa fa-hourglass-half"></i>
                    </span>
                    <span>Banco de Horas</span>
                </a>
            </li>
            <li id="AbaFerias">
                <a href="#Ferias" onclick="javascript:$('#AbaPerfilFuncionario').removeClass();$('#AbaBancoDeHoras').removeClass();$('#AbaTreinamento').removeClass();$('#AbaIndicadores').removeClass();$('#AbaFerias').addClass('is-active');">
                    <span class="icon is-small">
                        <i class="fa fa-plane"></i>
                    </span>
                    <span>Férias</span>
                </a>
            </li>
            <li id="AbaTreinamento">
                <a href="#Treinamento" onclick="javascript:$('#AbaPerfilFuncionario').removeClass();$('#AbaFerias').removeClass();$('#AbaBancoDeHoras').removeClass();$('#AbaIndicadores').removeClass();$('#AbaTreinamento').addClass('is-active');">
                    <span class="icon is-small">
                        <i class="fa fa-graduation-cap"></i>
                    </span>
                    <span>Treinamentos</span>
                </a>
            </li>
            <li id="AbaIndicadores">
                <a href="#Indicadores" onclick="javascript:$('#AbaPerfilFuncionario').removeClass();$('#AbaFerias').removeClass();$('#AbaTreinamento').removeClass();$('#AbaBancoDeHoras').removeClass();$('#AbaIndicadores').addClass('is-active');">
                    <span class="icon is-small">
                        <i class="fa fa-bar-chart"></i>
                    </span>
                    <span>Indicadores</span>
                </a>
            </li>
        </ul>
    </div>

    <div id="PerfilFuncionario">
        <div id="TabFuncionalidadesPerfil">
            <div class="tabs is-boxed is-centered">
                <ul>
                    <li id="AbaPerfil" class="is-active">
                        <a href="#Funcionarios" onclick="javascript:$('#AbaVagasInternas').removeClass();$('#AbaPerfil').addClass('is-active');">
                            <span class="icon is-small">
                                <i class="fa fa-book" aria-hidden="true"></i>
                            </span>
                            <span>Funcionários</span>
                        </a>
                    </li>
                    <li id="AbaVagasInternas">
                        <a href="#TodasVagasInternas" onclick="javascript:$('#AbaPerfil').removeClass();$('#AbaVagasInternas').addClass('is-active');">
                            <span class="icon is-small">
                                <i class="fa fa-suitcase" aria-hidden="true"></i>
                            </span>
                            <span>Vagas Internas</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div id="Funcionarios">
                @{
                    var count = 0;
                    var pagina = 1;
                    var j = 0;
                }
                @if (Convert.ToInt32(TempData["TotalColaborador"].ToString()) > 0)
                {
                    if (Convert.ToInt32(TempData["TotalColaborador"].ToString()) >= 20)
                    {
                        for (var g = 0; g < Convert.ToInt32(TempData["TotalColaborador"].ToString()) / 20; g++)
                        {

                            <table id="TabelaCurriculo @pagina.ToString()" hidden="true" class="table is-striped is-centered is-desktop is-fullwidth" style="text-align: center;alignment: center">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Setor</th>
                                        <th>P.A</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (j = j; j < Convert.ToInt32(TempData["TotalColaborador"].ToString()); j++)
                                    {
                                        count++;
                                        <tr>
                                            <td>
                                                <article class="media">
                                                    <div class="media-left grow pic">
                                                        <figure class="image is-32x32">
                                                            <img src="@TempData["Imagem" + j]" />
                                                        </figure>
                                                    </div>
                                                    <div class="media-content">
                                                        <div class="content">
                                                            <p>
                                                                <a href="javascript:VerPerfil('@TempData["Login" + j]');void(0);">@TempData["Nome" + j].ToString()</a> <strong></strong>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </article>
                                            </td>
                                            <td class="is-centered">@TempData["Setor" + j].ToString()</td>
                                            <td>@TempData["PA" + j].ToString()</td>
                                        </tr>
                                        if (count == 20)
                                        {
                                            count = 0;
                                            pagina++;
                                            break;
                                        }
                                    }
                                </tbody>
                            </table>

                        }
                    }
                    else
                    {
                        <table id="TabelaCurriculo @pagina.ToString()" class="lista-curriculo table is-striped is-centered is-fullwidth" style="text-align: center">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Setor</th>
                                    <th>P.A</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int k = 0; k < Convert.ToInt32(TempData["TotalColaborador"].ToString()); k++)
                                {
                                    count++;
                                    <tr>
                                        <td>
                                            <article class="media">
                                                <div class="media-left grow pic">
                                                    <figure class="image is-32x32">
                                                        <img src="@TempData["Imagem" + k]" />
                                                    </figure>
                                                </div>
                                                <div class="media-content">
                                                    <div class="content">
                                                        <p>
                                                            <a href="javascript:VerPerfil('@TempData["Login" + k]');void(0);">@TempData["Nome" + k].ToString()</a> <strong></strong>
                                                        </p>
                                                    </div>
                                                </div>
                                            </article>
                                        </td>
                                        <td class="is-centered">@TempData["Setor" + k].ToString()</td>
                                        <td>@TempData["PA" + k].ToString()</td>
                                    </tr>

                                }
                            </tbody>

                        </table>

                    }
                    <nav class="pagination" role="navigation" aria-label="pagination">
                        <ul class="pagination-list">
                            @for (var i = 1; i <= Convert.ToInt32(TempData["TotalColaborador"].ToString()) / 20; i++)
                            {
                                <li>
                                    <a class="pagination-link" href="javascript:MudaPagina('@i.ToString()');void(0);" id="Pagina @i.ToString()">@i.ToString()</a>
                                </li>
                            }
                        </ul>
                    </nav>

                }
            </div>

            <!--
            ABA VAGAS



                -->
            <div id="TodasVagasInternas">
                <div class="field is-grouped is-desktop">
                    <p class="control">
                        <button class="button is-primary modal-button" onclick="javascript:CadastroVaga(); void (0);" id="AdcionarVagaCurriculo" onmouseleave="$('#AdcionarVagaCurriculo').removeClass('animated pulse')" onmouseover="$('#AdcionarVagaCurriculo').addClass('animated pulse');" data-balloon="Clique para adcionar uma vaga." data-balloon-pos="down">
                            <span class="icon is-small">
                                <i class="fa fa-suitcase" aria-hidden="true"></i>
                            </span>
                            <span class="name"> Adicionar Vagas Internas</span>
                        </button>
                    </p>
                </div>
                <table class="table is-striped is-centered is-narrow is-fullwidth" style="text-align: center">
                    <thead>
                    <th>Titulo Vaga</th>
                    <th>Descrição</th>
                    <th>Status</th>
                    <th>Editar</th>
                    </thead>
                    <tbody>
                        @for (var a = 0; a < Convert.ToInt32(TempData["Total"].ToString()); a++)
                        {
                            <tr>
                                <td>
                                    <a href="javascript:GerenciarVaga(@TempData["IdVaga " + a].ToString());void(0);">@TempData["Titulo " + a].ToString()</a> <strong></strong>
                                </td>
                                <td>@TempData["DescricaoVaga " + a].ToString()</td>
                                <td>
                                    <span class="icon">
                                        <i class="fa fa-circle" aria-hidden="true" style="color: @TempData["StatusVaga " + a].ToString()"></i>
                                    </span>
                                </td>
                                <td>
                                    <a href="javascript:AlterarVaga(@TempData["IdVaga " + a].ToString());void(0);" class="button is-primary">
                                        <span class="icon is-small">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </span>
                                        <span class="name">Editar Vaga</span>
                                    </a>
                                </td>
                            </tr>
                        }
                    <tbody>
                </table>



            </div>
        </div>
    </div>
    <div id="BancodeHoras">
        <h1>Horas</h1>
    </div>
    <div id="Ferias">
        <h1>Ferias</h1>
    </div>
    <div id="Treinamento">
        <h1>Treinamentos</h1>
    </div>
    <div id="Indicadores">
        <h1>Indicadores</h1>
    </div>

</div>
<!--
        MODAL PERFIL COLABORADOR
-->



<div id="ModalPerfil" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card is-narow" style="width: 800px;">
        <header class="modal-card-head">
            <p class="modal-card-title">Perfil</p>
            <a href="javascript:$('#ModalPerfil').removeClass();$('#ModalPerfil').addClass('modal');void(0);" class="delete"></a>
        </header>
        <section class="modal-card-body  is-centered">
            <div id="PerfilCompleto">

            </div>


        </section>
        <footer class="modal-card-foot">
            <p class="field">
                <button onclick="FormPessoal.submit();" type="submit" class="button is-success">
                    <span class="icon">
                        <i class="fa fa-floppy-o"></i>
                    </span>
                    <span>Salvar</span>
                </button>

                <a class="button" href="javascript:$('#ModalPerfil').removeClass();$('#ModalPerfil').addClass('modal');void(0);">Cancelar</a>
            </p>
        </footer>
    </div>
</div>

<!--
MODAL VAGA INTERNA
-->



@using (Html.BeginForm("CadastrarVaga", "PainelColaborador"))
{
    <form id="Teste" method="post">
        <div id="ModalVaga" class="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Adicionar Vagas</p>
                    <a href="javascript:$('#ModalVaga').removeClass();$('#ModalVaga').addClass('modal');void(0);" class="delete"></a>
                </header>
                <section class="modal-card-body">
                    <div id="VagaInternaCompleta">

                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button type="submit" class="button is-success">Salvar Vaga</button>
                    <a class="button" href="javascript:$('#ModalVaga').removeClass();$('#ModalVaga').addClass('modal');void(0);">Cancelar</a>
                </footer>
            </div>
        </div>
    </form>
}
@using (Html.BeginForm("AtualizarVaga", "PainelColaborador"))
{
    <div id="ModalEditarVaga" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Perfil</p>
                <a href="javascript:$('#ModalEditarVaga').removeClass();$('#ModalEditarVaga').addClass('modal');void(0);" class="delete"></a>
            </header>

            <section class="modal-card-body">

                <div id="VagaCompleta">

                </div>

            </section>
            <footer class="modal-card-foot">
                <p class="field">
                    <button type="submit" class="button is-success">
                        <span class="icon">
                            <i class="fa fa-floppy-o"></i>
                        </span>
                        <span>Salvar Vaga</span>
                    </button>

                    <a class="button" href="javascript:$('#ModalEditarVaga').removeClass();$('#ModalEditarVaga').addClass('modal');void(0);">Cancelar</a>
                </p>

            </footer>


        </div>
    </div>
}

