@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    @if (TempData["Mensagem"] != null)
    {
        @Html.Label("")


        <script>

        iziToast.success({
            title: 'Sucesso',
            position: "center",
            message: '@TempData["Mensagem"]',
        });

        </script>
    }
<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li>
            <a href="@Url.Action("Principal","Principal")">
                <span class="icon is-small">
                    <i class="fa fa-home"></i>
                </span><span>DashBoard</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("ColaboradorRh")">
                <span class="icon is-small">
                    <i class="fa fa-user-plus"></i>
                </span><span>Colaborador RH</span>
            </a>
        </li>
        <li class="is-active">
            <a href="#" aria-current="page" style="color: #38d5c5;">
                <span class="icon is-small" style="color: #38d5c5;">
                    <i class="fa fa-history" aria-hidden="true"></i>
                </span><span>Histórico de Pendências</span>
            </a>
        </li>
    </ul>
</nav>
<div>
    <table id="NaoJustificada" name="NaoJustificada" class="table is-striped is-centered is-narrow is-fullwidth" style="box-shadow: 2px 2px 2px grey; text-align: center;">
        <thead>
        <th>ID</th>
        <th>Funcionário</th>
        <th>Dia</th>
        <th>Entrada</th>
        <th>Saída Almoço</th>
        <th>Volta Almoço</th>
        <th>Saída</th>
        <th @TempData["ExtraJustifica1"]>Extra 1</th>
        <th @TempData["ExtraJustifica2"]>Extra 2</th>
        <th>Justificativa</th>
        <th>Validação Gestor</th>
        </thead>
        <tbody>
            @for (var i = 0; i < Convert.ToInt32(TempData["TotalSemConfirmar"]); i++)
        {
            <tr>
                <td>@TempData["IdPendencia" + i]</td>
                <td>
                    @TempData["NomePendencia" + i]
                </td>
                <td>
                    @TempData["DiaPendencia" + i]
                </td>
                @for (int k = 0; k < Convert.ToInt32(TempData["TotalHorarioPendencia" + i]); k++)
            {
                <td>
                    @TempData["Hora" + k + "Pendencia" + i]
                </td>
        }
                @if (@TempData["ExtraJustifica1"].Equals("") && Convert.ToInt32(TempData["TotalHorarioPendencia" + i]) != 5)
            {
                <td></td>
        }
                @if (@TempData["ExtraJustifica2"].Equals("") && Convert.ToInt32(TempData["TotalHorarioPendencia" + i]) != 6)
            {
                <td></td>
        }
                <td>
                    <span class="icon is-small" data-balloon="@TempData["Justificativa" + i]" data-balloon-pos="up">
                        <i class="fa fa-check-square" aria-hidden="true" style="color: @TempData["StatusJustificativa" + i]"></i>
                    </span>
                </td>
                <td>
                    <span class="icon is-small">
                        <i class="fa fa-check-square" aria-hidden="true" style="color: @TempData["StatusJustificativaGetor" + i]"></i>
                    </span>
                </td>
            </tr>
    }
        <tbody>
    </table>
</div>
    </body>
