@model PortalSicoobDivicred.Models.Funcionario


<br />
<script>
    function teste(data, tipo) {
        var win = window.open();
        if (tipo === "pdf") {
            win.document.write('<iframe src="' +
                data +
                '" frameborder="0" style="border:0; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%;" allowfullscreen></iframe>');
        } else {
            var imagem = data;
            win.document.body.innerHTML = '<img src=' + imagem + '>';
        }

    }

</script>

<div class="columns">
    <div class="box column is-12">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img src="@TempData["foto"]" alt="Image">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>@TempData["NomeFuncionario"]</strong>
                        <br />
                        <strong>Função: </strong>@TempData["Funcao"]
                        <br />
                        <strong>Data Admissão: </strong>@TempData["DataAdmissao"]
                        <br>
                    </p>
                </div>
            </div>
        </article>
    </div>
</div>

<div class="columns">
    <div class="column is-12">
        <p class="card-header-title">
            Dados Profissionais
        </p>
        <div id="DadosProfissionais">
            <div class="card-content is-centered">
                <div class="field">
                    <div class="control is-2 ">
                        <label class="label">Setor</label>
                        <div class="select  is-fullwidth">
                            @Html.DropDownListFor( m => m.IdSetor, new SelectList( Model.Setor, "Value", "Text" ), "SELECIONE O SEU SETOR", new { id = "Setor" } )
                        </div>
                    </div>
                </div>
                <div class="field ">
                    <div class="control">
                        <label class="label">Função</label>
                        <div class="select  is-fullwidth">
                            @Html.DropDownListFor( m => m.IdFuncao, new SelectList( Model.Funcao, "Value", "Text" ), "SELECIONE A SUA FUNÇÃO", new { id = "Funcao", onchange = "BuscaCertificacao(this)" } )
                            @Html.ValidationMessageFor( m => m.Funcao, null, new { style = "color:red" } )
                        </div>
                    </div>
                    <blockquote id="Certificacoes">
                        <b>Certificações Obrigatórias</b>
                        <div id="ConteudoCertificacao">
                            @for(var i = 0; i < Convert.ToInt32( TempData["TotalCertificacao"] ); i++)
                            {
                                @TempData["Certificacao" + i]
                            }

                        </div>
                        <br />
                        <label class="checkbox">
                            <input type="checkbox" id="ConfirmacaoCertificacao" name="ConfirmacaoCertificacao" @TempData["ConfirmaCertificacao"] disabled="true">
                            Possuo todas as certificações acima.
                        </label>
                    </blockquote>
                </div>
                <div class="field ">
                    <div class="control ">
                        <label class="label">Horário de Trabalho</label>
                        <div class="select is-fullwidth">
                            @Html.DropDownListFor( m => m.IdHorario, new SelectList( Model.HorarioTrabalho, "Value", "Text" ), "SELECIONE O SEU HORÁRIO", new { id = "HorarioTrabalho", disabled = "true" } )
                            @Html.ValidationMessageFor( m => m.HorarioTrabalho, null, new { style = "color:red" } )
                        </div>
                    </div>
                    <hr />
                </div>

                <div class="field is-grouped column">
                    <div class="control column is-4 is-expanded">
                        <label class="label">N° Matricula</label>
                        @Html.TextBoxFor( m => m.Matricula, null, new { @class = "input", placeholder = "Ex: 000168", disabled = "true" } )
                        @Html.ValidationMessageFor( m => m.Matricula, null, new { style = "color:red" } )
                    </div>
                    <div class="control column is-4 is-expanded">
                        <label class="label">N° CTPS</label>
                        @Html.TextBoxFor( m => m.NumeroCtps, null, new { @class = "input", placeholder = "Ex: 9999999", disabled = "true" } )
                        @Html.ValidationMessageFor( m => m.NumeroCtps, null, new { style = "color:red" } )
                    </div>
                    <div class="control column is-4 is-expanded">
                        <label class="label">Serie CTPS</label>
                        @Html.TextBoxFor( m => m.SerieCtps, null, new { @class = "input", placeholder = "Ex: 0000", disabled = "true" } )
                        @Html.ValidationMessageFor( m => m.SerieCtps, null, new { style = "color:red" } )
                    </div>
                </div>
                <div class="field is-grouped column">
                    <div class="control column is-4">
                        <label class="label">Estado de expedição CTPS</label>
                        @Html.TextBoxFor( m => m.UfCtps, null, new { @class = "input", placeholder = "Ex: 0000", disabled = "true" } )
                        @Html.ValidationMessageFor( m => m.UfCtps, null, new { style = "color:red" } )
                    </div>
                    <div class="control column is-4">
                        <label class="label">Data de expedição CTPS</label>
                        @Html.TextBoxFor( m => m.EmissaoCtps, null, new { @class = "input", placeholder = "Ex: 99/99/9999", id = "EmissaoCtps", disabled = "true" } )
                        @Html.ValidationMessageFor( m => m.EmissaoCtps, null, new { style = "color:red" } )
                    </div>
                    <div class="control column is-4">
                        <label class="label">Ano do primeiro emprego</label>
                        @Html.TextBoxFor( m => m.AnoPrimeiroEmprego, null, new { @class = "input", placeholder = "Ex: 2010", disabled = "true" } )
                        @Html.ValidationMessageFor( m => m.AnoPrimeiroEmprego, null, new { style = "color:red" } )
                    </div>
                </div>
                <hr />
                <div class="field column">
                    <div class="control">
                        <label class="label">Tipo Conta</label>
                        <div class="select is-fullwidth">
                            @Html.DropDownListFor( m => m.IdTipoConta, new SelectList( Model.Conta, "Value", "Text" ), "SELECIONE O  TIPO DE CONTA", new { disabled = "true" } )
                            @Html.ValidationMessageFor( m => m.IdTipoConta, null, new { style = "color:red" } )
                        </div>
                    </div>
                </div>
                <div class="field is-grouped column">
                    <div class="control column is-3 is-expanded">
                        <label class="label">Código Banco</label>
                        @Html.TextBoxFor( m => m.CodigoBanco, null, new { @class = "input", placeholder = "Ex: 756", disabled = "true" } )
                        @Html.ValidationMessageFor( m => m.CodigoBanco, null, new { style = "color:red" } )
                    </div>
                    <div class="control column is-3 is-expanded">
                        <label class="label">Agência</label>
                        @Html.TextBoxFor( m => m.Agencia, null, new { @class = "input", placeholder = "Ex: 4030", disabled = "true" } )
                        @Html.ValidationMessageFor( m => m.Agencia, null, new { style = "color:red" } )
                    </div>
                    <div class="control column is-3">
                        <label class="label">Conta Corrente</label>
                        @Html.TextBoxFor( m => m.ContaCorrente, null, new { @class = "input", placeholder = "Ex: 99.999-9", disabled = "true" } )
                        @Html.ValidationMessageFor( m => m.ContaCorrente, null, new { style = "color:red" } )
                    </div>
                </div>
                <hr />

                <div class="field">
                    <div class="title is-4 is-vertical is-parent">
                        <h2 class="title is-4">Dependentes</h2>
                    </div>
                    <div class="field">
                        <input type="checkbox" value="true" name="check1" id="check1" class="is-checkradio is-small  has-background-color" @TempData["Check1"] disabled="true">
                        <label for="check1">
                            CÔNJUGE OU COMPANHEIRO (A) COM O (A) QUAL TENHA FILHO OU VIVA A MAIS DE 5(CINCO) ANOS
                        </label>
                        <br />
                        <input type="checkbox" value="true" name="check2" id="check2" class="is-checkradio is-small  has-background-color" @TempData["Check2"] disabled="true">
                        <label for="check2">
                            FILHO (A) OU ENTEADO (A) ATÉ 21 (VINTE E UM) ANOS
                        </label>
                        <br />

                        <input type="checkbox" value="true" name="check3" id="check3" class="is-checkradio is-small  has-background-color" @TempData["Check3"] disabled="true">
                        <label for="check3">
                            FILHO (A) OU ENTEADO (A) UNIVERSITÁRIO (A) OU CURSANDO ESCOLA TÉCNICA DE 2º GRAU, ATÉ 24 (VINTE E QUATRO) ANOS
                        </label>
                        <br />

                        <input type="checkbox" value="4" id="check4" name="check4" class="is-checkradio is-small  has-background-color" @TempData["Check4"] disabled="true">
                        <label for="check4">
                            FILHO (A) OU ENTEADO (A) EM QUALQUER IDADE, QUANDO INCAPACITADO FÍSICA E/OU MENTALMENTE PARA O TRABALHO
                        </label>
                        <br />

                        <input type="checkbox" value="true" id="check5" name="check5" class="is-checkradio is-small  has-background-color" @TempData["Check5"] disabled="true">
                        <label for="check5">
                            IRMÃO (A), NETO (A) OU BISNETO (A) SEM ARRIMO DOS PAIS, DO (A) QUAL DETENHA A GUARDA JUDICIAL, ATÉ 21 (VINTE UM) ANOS
                        </label>
                        <br />

                        <input type="checkbox" value="true" id="check6" name="check6" class="is-checkradio is-small  has-background-color " @TempData["Check6"] disabled="true">
                        <label for="check6">
                            IRMÃO (A), NETO (A) OU BISNETO (A) SEM ARRIMO DOS PAIS,COM IDADE ATÉ 24 ANOS, SE AINDA ESTIVER CURSANDO ESTABELECIMENTO DE NÍVEL SUPERIOR OU ESCOLA TÉCNICA DE 2º GRAU, DESDE QUE TENHA DETIDO SUA GUARDA JUDICIAL ATÉ OS 21 ANOS
                        </label>
                        <br />

                        <input type="checkbox" value="true" id="check7" name="check7" class="is-checkradio is-small  has-background-color" @TempData["Check7"] disabled="true">
                        <label for="check7">
                            IRMÃO (A), NETO (A) OU BISNETO (A) SEM ARRIMO DOS PAIS, DO (A) QUAL DETENHA A GUARDA JUDICIAL, EM QUALQUER IDADE, QUANDO INCAPACITADO FÍSICA E/OU MENTALMENTE PARA O TRABALHO

                        </label>
                        <br />

                        <input type="checkbox" id="check8" value="true" name="check8" class="is-checkradio is-small  has-background-color" @TempData["Check8"] disabled="true">
                        <label for="check8">
                            PAIS,AVÓS E BISAVÓS
                        </label>
                        <br />

                        <input type="checkbox" id="check9" value="true" name="check9" class="is-checkradio is-small  has-background-color" @TempData["Check9"] disabled="true">
                        <label for="check9">
                            MENOR POBRE, ATÉ 21 (VINTE E UM ANOS), QUE CRIE E EDUQUE E DO QUAL DETENHA A GUARDA JUDICIAL
                        </label>
                        <br />

                        <input type="checkbox" id="check10" value="true" name="check10" class="is-checkradio is-small  has-background-color" @TempData["Check10"] disabled="true">
                        <label for="check10">
                            A PESSOA ABSOLUTAMENTE INCAPAZ, DA QUAL SEJA TUTOR OU CURADOR
                        </label>

                        <br />
                        <div class="control  is-fullwidth  is-expanded">
                            <label class="label">Nome dos dependentes junto com CPF:</label>
                            @Html.TextAreaFor( m => m.DadosDependentes, new { @class = "textarea", placeholder = "Ex: Nome - CPF " } )
                            @Html.ValidationMessageFor( m => m.DadosDependentes, null, new { style = "color:red" } )
                        </div>
                        <div class="control column is-expanded">
                            <label class="label">Algum dos dependentes citados acima são para fins de IRRF?</label>
                            <div class="field">
                                @Html.RadioButtonFor( m => m.DependenteIrrf, "Sim", new { @class = "is-checkradio is-small", id = "checkirrfsim", disabled = "true" } )
                                <label for="checkirrfsim">
                                    Sim
                                </label>
                                @Html.RadioButtonFor( m => m.DependenteIrrf, "Não", new { @class = "is-checkradio is-small", id = "checkirrfnao", disabled = "true" } )
                                <label for="checkirrfnao">
                                    Não
                                </label>
                                @Html.ValidationMessageFor( m => m.DependenteIrrf, null, new { style = "color:red", disabled = "true" } )
                            </div>
                        </div>
                        <div class="control is-fullwidth  is-expanded">
                            <label class="label">Informe os CPF e nome dos dependentes para fins de IRRF. Caso não tenha nenhum informe abaixo.</label>
                            @Html.TextAreaFor( m => m.CpfIrrf, new { @class = "textarea", placeholder = "Ex: CPF - NOME" } )
                            @Html.ValidationMessageFor( m => m.CpfIrrf, null, new { style = "color:red" } )

                        </div>
                    </div>
                    <div class="control column  is-expanded">
                        <label class="label">Algum dos dependentes citados acima são para fins de salário-família?</label>
                        <div class="field">
                            @Html.RadioButtonFor( m => m.DependenteFamilia, "Sim", new { @class = "is-checkradio is-small", id = "checkfamiliasim", disabled = "true" } )
                            <label for="checkfamiliasim">
                                Sim
                            </label>
                            @Html.RadioButtonFor( m => m.DependenteFamilia, "Não", new { @class = "is-checkradio is-small", id = "checkfamilianao", disabled = "true" } )
                            <label for="checkfamilianao">
                                Não
                            </label>
                            @Html.ValidationMessageFor( m => m.DependenteFamilia, null, new { style = "color:red", disabled = "true" } )
                        </div>
                    </div>

                </div>
                <div>
                    @if(TempData["ExibeDocumentoExtra"].ToString().Length > 0)
                    {
                        <a class="tag is-primary is-rounded is-medium" id="MostraVinculo" href="javascript:OutroVinculo();void(0);">Adicionar Outro Vinculo Empregatício</a>
                        <a class="tag is-primary is-rounded is-medium" @TempData["MostraVinculo"] id="OcultaVinculo" href="javascript:OcultaOutroVinculo();void(0);">Ocultar Outro Vinculo Empregatício</a>
                    }
                    else
                    {
                        <a class="tag is-primary is-rounded is-medium" style="display: none;" id="MostraVinculo" href="javascript:OutroVinculo();void(0);">Adicionar Outro Vinculo Empregatício</a>
                        <a class="tag is-primary is-rounded is-medium" @TempData["MostraVinculo"] id="OcultaVinculo" href="javascript:OcultaOutroVinculo();void(0);">Ocultar Outro Vinculo Empregatício</a>
                    }
                    <div id="VinculoExtra" @TempData["MostraVinculo"]>
                        <div class="field is-grouped column">
                            <div class="control column is-3 is-expanded">
                                <label class="label">Nome Empresa</label>
                                @Html.TextBoxFor( m => m.MultiploNomeEmpresa, null, new { @class = "input", placeholder = "Ex: Fulano LTDA", disabled = "true" } )
                                @Html.ValidationMessageFor( m => m.MultiploNomeEmpresa, null, new { style = "color:red" } )
                            </div>
                            <div class="control column is-3 is-expanded">
                                <label class="label">CNPJ</label>
                                @Html.TextBoxFor( m => m.MultiploCnpj, null, new { @class = "input", placeholder = "Ex: 99.999.999/9999-99", disabled = "true" } )
                                @Html.ValidationMessageFor( m => m.MultiploCnpj, null, new { style = "color:red" } )
                            </div>
                        </div>
                        <div class="field is-grouped column">
                            <div class="control column is-3 is-expanded">
                                <label class="label">Remuneração</label>
                                @Html.TextBoxFor( m => m.MultiploRemuneracao, null, new { @class = "input", placeholder = "Ex: R$ 950,00", disabled = "true" } )
                                @Html.ValidationMessageFor( m => m.MultiploRemuneracao, null, new { style = "color:red" } )
                            </div>
                            <div class="control column is-3">
                                <label class="label">Cometário</label>
                                @Html.TextBoxFor( m => m.MultiploComentario, null, new { @class = "input", placeholder = "Ex: observação em relação ao vinculo trabalhista", disabled = "true" } )
                                @Html.ValidationMessageFor( m => m.MultiploRemuneracao, null, new { style = "color:red" } )
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <br />
                    <article class="message  is-primary">
                        <div class="message-body">
                            <h2 class="title is-5 has-text-centered">
                                DECLARAÇÃO
                            </h2>
                            <div class="">
                                <p>
                                    Declaro para os devidos fins que as informações constantes desse formulário são fieis à verdade e condizentes com a realidade dos fatos à época.
                                </p>
                                <p>
                                    Declaro que todas as informações mencionadas nesse formulário foram extraídas dos documentos são da minha inteira responsabilidade.
                                </p>
                                <p>
                                    Além disso, fui informado que se houver qualquer alteração nesta Declaração, a mesma deverá ser modificada junto ao Departamento de Recursos Humanos.
                                </p>
                                <p>
                                    Por fim, fico ciente que através desse documento a falsidade das informações configura crime previsto no Código Penal Brasileiro e passível de apuração na forma da Lei.
                                </p>
                                <p>
                                    Nada mais a declarar, e ciente das responsabilidades pelas declarações prestadas, firmo a presente.
                                </p>
                                <div class="control">
                                    <input type="checkbox" id="ConfirmacaoDados" name="ConfirmacaoDados" class="is-checkradio has-background-color " @TempData["ConfirmaDados"] required disabled>
                                    <label for="ConfirmacaoDados">
                                        <strong> Eu aceito e estou ciente de todos os termos citados acima.</strong>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <br />
                <hr />
                <div class="field is-grouped">
                    <div class="control column is-3 is-expanded">
                        <label class="label">Data Admissão</label>
                        @Html.TextBoxFor( m => m.DataAdmissaoFuncionario, null, new { @class = "input",id="DataAdmissaoFuncionario" } )
                    </div>
                    <div class="control column is-3 is-expanded">
                        <label class="label">Vencimento Periódico</label>
                        @Html.TextBoxFor( m => m.VencimentoPeriodico, null, new { @class = "input" } )
                    </div>
                </div>

                <div class="field">
                    <blockquote>
                        <p>
                            <b>Salário Base: R$@Html.TextBoxFor( m => m.Salario, null, new { @class = "input"} )</b>
                            <br />
                            <div class="control column">
                                <label class="label">Estagiário ?</label>

                                <div class="field">
                                    @Html.RadioButtonFor( m => m.Estagiario, "S", new { @class = "is-checkradio is-small", id = "checkestagiariosim" } )
                                    <label for="checkestagiariosim">
                                        Sim
                                    </label>
                                    @Html.RadioButtonFor( m => m.Estagiario, "N", new { @class = "is-checkradio is-small", id = "checkestagiarionao" } )
                                    <label for="checkestagiarionao">
                                        Não
                                    </label>
                                    @Html.ValidationMessageFor( m => m.Estagiario, null, new { style = "color:red" } )
                                </div>
                            </div>
                            <b>Contrato Estágio: @Html.TextBoxFor( m => m.DataEstagiario, null, new { @class = "input",id="DataEstagio" } )</b>
                        </p>
                        <b>Quebra de Caixa: R$@Html.TextBoxFor( m => m.QuebraDeCaixa, null, new { @class = "input" } )</b>
                        <br />
                        <b>Anuênio: R$@Html.TextBoxFor( m => m.Anuenio, null, new { @class = "input" } )</b>
                        <br />
                        <b>Ticket: R$@Html.TextBoxFor( m => m.Ticket, null, new { @class = "input" } )</b>
                        <br />
                    </blockquote>

                </div>
            </div>

        </div>
        <div class="page-break"></div>
        <hr />
        <p class="card-header-title">
            Dados Pessoais
        </p>
        <div class="card-content">
            <div id="DadosPessoais">
                <div class="card-content">

                    <div class="content" id="Pessoais">
                        <div class="field is-grouped">
                            <p class="control column is-6 is-expanded">
                                <label class="label">Nome</label>
                                @Html.TextBoxFor( m => m.NomeFuncionario, null, new { @class = "input", placeholder = "Ex:José Da Silva", disabled = "true" } )
                                @Html.ValidationMessageFor( m => m.NomeFuncionario, null, new { style = "color:red" } )
                            </p>
                        </div>
                        <div class="field is-grouped">
                            <div class="control column is-3 is-expanded">
                                <label class="label">CPF</label>
                                @Html.TextBoxFor( m => m.CpfFuncionario, null, new { @class = "input", placeholder = "Ex: 999.999.999 - 99", id = "CpfFuncionario", disabled = "true" } )
                                @Html.ValidationMessageFor( m => m.CpfFuncionario, null, new { style = "color:red" } )
                            </div>
                            <div class="control column is-3 is-expanded">
                                <label class="label">PIS</label>
                                @Html.TextBoxFor( m => m.PisFuncionario, null, new { @class = "input", placeholder = "Ex: 999.99999.99-9", id = "PisFuncionario", disabled = "true" } )
                                @Html.ValidationMessageFor( m => m.PisFuncionario, null, new { style = "color:red" } )
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <div class="control column is-3 is-expanded">
                                <label class="label">RG</label>
                                @Html.TextBoxFor( m => m.RgFuncionario, null, new { @class = "input", placeholder = "Ex: 13980091", id = "RgFuncionario", disabled = "true" } )
                                @Html.ValidationMessageFor( m => m.RgFuncionario, null, new { style = "color:red" } )
                            </div>
                            <div class="control column is-3 is-expanded">
                                <label class="label">Data Emissão RG</label>
                                @Html.TextBoxFor( m => m.DataExpedicaoDocumentoRg, null, new { @class = "input", placeholder = "Ex: 99/99/9999", id = "DataEmissaoRg", disabled = "true" } )
                                @Html.ValidationMessageFor( m => m.DataExpedicaoDocumentoRg, null, new { style = "color:red" } )
                            </div>
                            <div class="control column is-3 is-expanded">
                                <label class="label">Orgão Emissor RG</label>
                                @Html.TextBoxFor( m => m.OrgaoEmissorRg, null, new { @class = "input", placeholder = "Ex: PC-MG", disabled = "true" } )
                                @Html.ValidationMessageFor( m => m.OrgaoEmissorRg, null, new { style = "color:red" } )
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <p class="control column is-3 is-expanded">
                                <label class="label">Nacionalidade</label>
                                @Html.TextBoxFor( m => m.Nacionalidade, null, new { @class = "input", placeholder = "Ex:Brasileiro", disabled = "true" } )
                                @Html.ValidationMessageFor( m => m.Nacionalidade, null, new { style = "color:red" } )
                            </p>
                            <div class="control column is-3 is-expanded">
                                <label class="label">Data Nascimento</label>
                                @Html.TextBoxFor( m => m.DataNascimentoFuncionario, null, new { @class = "input", placeholder = "Ex: 99/99/9999", id = "DataNascimentoFuncionario", disabled = "true" } )
                                @Html.ValidationMessageFor( m => m.DataNascimentoFuncionario, null, new { style = "color:red" } )
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <p class="control column is-6 is-expanded">
                                <label class="label">Local de Nascimento</label>
                                @Html.TextBoxFor( m => m.LocalNascimento, null, new { @class = "input", placeholder = "Ex: Divinópolis", disabled = "true" } )
                                @Html.ValidationMessageFor( m => m.LocalNascimento, null, new { style = "color:red" } )
                            </p>
                        </div>
                        <div class="field is-grouped">
                            <div class="control column is-3 is-expanded">
                                <label class="label">Estado de Nascimento</label>
                                @Html.TextBoxFor( m => m.UfNascimento, null, new { @class = "input", placeholder = "Ex: MG", disabled = "true" } )
                                @Html.ValidationMessageFor( m => m.UfNascimento, null, new { style = "color:red" } )
                            </div>
                            <div class="control column is-3 is-expanded">
                                <label class="label">Telefone Fixo</label>
                                @Html.TextBoxFor( m => m.TelefoneFixo, null, new { @class = "input", placeholder = "Ex:(37)3222-2222", id = "TelefoneFixoFuncionario", disabled = "true" } )
                                @Html.ValidationMessageFor( m => m.TelefoneFixo, null, new { style = "color:red" } )
                            </div>
                            <div class="control column is-3 is-expanded">
                                <label class="label">Telefone Celular</label>
                                @Html.TextBoxFor( m => m.TelefoneCelular, null, new { @class = "input", placeholder = "Ex:(37)99999-9999", id = "TelefoneCelularFuncionario", disabled = "true" } )
                                @Html.ValidationMessageFor( m => m.TelefoneCelular, null, new { style = "color:red" } )
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <div class="control column is-6 is-expanded">
                                <label class="label">Nome da Mãe</label>
                                @Html.TextBoxFor( m => m.NomeMae, null, new { @class = "input", placeholder = "Ex: Maria da Silva", disabled = "true" } )
                                @Html.ValidationMessageFor( m => m.NomeMae, null, new { style = "color:red" } )
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <div class="control column is-6 is-expanded">
                                <label class="label">Nome do Pai</label>
                                @Html.TextBoxFor( m => m.NomePai, null, new { @class = "input", placeholder = "Ex: Joaquin da Silva", disabled = "true" } )
                                @Html.ValidationMessageFor( m => m.NomePai, null, new { style = "color:red" } )
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <div class="control column is-4 is-expanded ">
                                <label class="label">Estado Civil dos Pais</label>
                                <div class="select">
                                    @Html.DropDownListFor( m => m.IdEstadoCivilPais, new SelectList( Model.PaisDivorciados, "Value", "Text" ), "SELECIONE O ESTADO CIVIL", new { id = "EstadoCivilPais", disabled = "true" } )
                                    @Html.ValidationMessageFor( m => m.PaisDivorciados, null, new { style = "color:red", disabled = "true" } )
                                </div>
                            </div>
                        </div>
                        <div class="page-break"></div>
                        <hr />
                        <div id="documentosextras" @TempData["ExibeDocumentoExtra"]>
                            <div class="field is-grouped">
                                <p class="control column is-3 is-expanded">
                                    <label class="label">N° CNH</label>
                                    @Html.TextBoxFor( m => m.Cnh, null, new { @class = "input", placeholder = "Ex: 999999", disabled = "true" } )
                                    @Html.ValidationMessageFor( m => m.Cnh, null, new { style = "color:red" } )
                                </p>
                                <div class="control column is-3 is-expanded">
                                    <label class="label">Orgão Emissor CNH</label>
                                    @Html.TextBoxFor( m => m.OrgaoEmissorCnh, null, new { @class = "input", placeholder = "Ex: DETRAM-MG", disabled = "true" } )
                                    @Html.ValidationMessageFor( m => m.OrgaoEmissorCnh, null, new { style = "color:red" } )
                                </div>
                            </div>
                            <div class="field is-grouped">
                                <div class="control column is-3 is-expanded">
                                    <label class="label">Data Epedição CNH</label>
                                    @Html.TextBoxFor( m => m.DataExpedicaoDocumentoCnh, null, new { @class = "input", placeholder = "Ex:(37)3222-2222", id = "DataExpedicaoCnh", disabled = "true" } )
                                    @Html.ValidationMessageFor( m => m.DataExpedicaoDocumentoCnh, null, new { style = "color:red" } )
                                </div>

                                <div class="control column is-3 is-expanded">
                                    <label class="label">Data Vencimento CNH</label>
                                    @Html.TextBoxFor( m => m.DataValidadeCnh, null, new { @class = "input", placeholder = "Ex:(37)99999-9999", id = "DataVencimentoCnh", disabled = "true" } )
                                    @Html.ValidationMessageFor( m => m.DataValidadeCnh, null, new { style = "color:red" } )
                                </div>
                            </div>
                            <div class="field is-grouped">
                                <p class="control column is-3 is-expanded">
                                    <label class="label">N° OC(Órgão de Classe)</label>
                                    @Html.TextBoxFor( m => m.Oc, null, new { @class = "input", placeholder = "Ex: 999999", disabled = "true" } )
                                    @Html.ValidationMessageFor( m => m.Oc, null, new { style = "color:red" } )
                                </p>
                                <div class="control column is-3 is-expanded">
                                    <label class="label">Orgão Emissor OC(Órgão de Classe)</label>
                                    @Html.TextBoxFor( m => m.OrgaoEmissorOc, null, new { @class = "input", placeholder = "Ex: CREA-MG", disabled = "true" } )
                                    @Html.ValidationMessageFor( m => m.OrgaoEmissorOc, null, new { style = "color:red" } )
                                </div>
                            </div>
                            <div class="field is-grouped">
                                <div class="control column is-3 is-expanded">
                                    <label class="label">Data Epedição OC</label>
                                    @Html.TextBoxFor( m => m.DataExpedicaoOc, null, new { @class = "input", placeholder = "Ex: 99/99/99999", id = "DataExpedicaoOc", disabled = "true" } )
                                    @Html.ValidationMessageFor( m => m.DataExpedicaoOc, null, new { style = "color:red" } )
                                </div>
                                <div class="control column is-3 is-expanded">
                                    <label class="label">Data Vencimento OC</label>
                                    @Html.TextBoxFor( m => m.DataValidadeOc, null, new { @class = "input", placeholder = "Ex:99/99/9999", id = "DataVencimentoOc", disabled = "true" } )
                                    @Html.ValidationMessageFor( m => m.DataValidadeOc, null, new { style = "color:red" } )
                                </div>

                            </div>
                        </div>


                        <hr />

                        <div class="field is-grouped column">
                            <div class="control column is-3 is-expanded">
                                <label class="label">Gênero</label>
                                <div class="select">
                                    @Html.DropDownListFor( m => m.IdSexo, new SelectList( Model.Sexo, "Value", "Text" ), "SELECIONE O SEU GÉNERO", new { id = "Sexo", disabled = "true" } )
                                    @Html.ValidationMessageFor( m => m.IdSexo, null, new { style = "color:red" } )
                                </div>
                            </div>
                            <div class="control column is-3 is-expanded">
                                <label class="label">Descrição de Género:</label>
                                @Html.TextBoxFor( m => m.DescricaoSexo, null, new { @class = "input", id = "DescricaosexoFuncionario", disabled = "true" } )
                                @Html.ValidationMessageFor( m => m.DescricaoSexo, null, new { style = "color:red" } )
                            </div>
                        </div>
                        <div class="field is-grouped column">
                            <div class="control column is-3 is-expanded">
                                <label class="label">Etnia/Raça</label>
                                <div class="select">
                                    @Html.DropDownListFor( m => m.IdEtnia, new SelectList( Model.Etnia, "Value", "Text" ), "SELECIONE A SUA ETNIA/RAÇA", new { id = "Etnia", disabled = "true" } )
                                    @Html.ValidationMessageFor( m => m.IdEtnia, null, new { style = "color:red" } )
                                </div>
                            </div>
                            <div class="control column is-3 is-expanded ">
                                <label class="label">Estado Civil</label>
                                <div class="select">
                                    @Html.DropDownListFor( m => m.IdEstadoCivil, new SelectList( Model.EstadoCivil, "Value", "Text" ), "SELECIONE O SEU ESTADO CIVIL", new { id = "EstadoCivil", disabled = "true" } )
                                    @Html.ValidationMessageFor( m => m.IdEstadoCivil, null, new { style = "color:red" } )
                                </div>
                            </div>

                        </div>

                        <hr />
                        <div class="field is-grouped column">
                            <div class="control column is-4 is-expanded ">
                                <label class="label">Formação</label>
                                <div class="select">
                                    @Html.DropDownListFor( m => m.IdFormacao, new SelectList( Model.Formacao, "Value", "Text" ), "SELECIONE A SUA FORMAÇÃO", new { id = "Formacao", disabled = "true" } )
                                    @Html.ValidationMessageFor( m => m.IdFormacao, null, new { style = "color:red" } )
                                </div>
                            </div>
                            <div class="control is-4 column is-expanded">
                                <label class="label">Formação Acadêmica</label>
                                @Html.TextBoxFor( m => m.FormacaoAcademica, null, new { @class = "input", placeholder = "Ex: Administração", id = "FormacaoFuncionario", disabled = "true" } )
                                @Html.ValidationMessageFor( m => m.FormacaoAcademica, null, new { style = "color:red" } )
                            </div>

                        </div>
                        @for(var i = 0; i < Convert.ToInt32( TempData["TotalFormacao"] ); i++)
                        {
                            <div class=" column">
                                <div class="field">
                                    <div class="contro">
                                        <label class="label">Tipo Formação Acadêmica</label>
                                        <input type="text" class="input is-fullwidth" name="@TempData["IdTipoFormacao" + i]" value="@TempData["TipoFormacaoExtra" + i]" disabled="true" />
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control ">
                                        <label class="label">Formação Acadêmica</label>
                                        <input type="text" class="input is-fullwidth" name="@TempData["IdFormacaoExtra" + i]" value="@TempData["FormacaoExtra" + i]" disabled="true" />
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="field is-grouped column">
                            <div class="control column is-3 is-expanded">
                                <label class="label">Usuário do Sistema</label>
                                @Html.TextBoxFor( m => m.UsuarioSistema, null, new { @class = "input", placeholder = "Ex:SicoobD4030_00", id = "UsuarioFuncionario" } )
                                @Html.ValidationMessageFor( m => m.UsuarioSistema, null, new { style = "color:red" } )
                            </div>


                            <div class="control column is-3 is-expanded">
                                <label class="label">E-mail</label>
                                @Html.TextBoxFor( m => m.Email, null, new { @class = "input", placeholder = "Ex:teste@divicred.com.br", id = "EmailFuncionario", disabled = "true" } )
                                @Html.ValidationMessageFor( m => m.Email, null, new { style = "color:red" } )
                            </div>
                        </div>
                        <div class="field is-grouped column">
                            <div class="control column is-3 is-expanded">
                                <label class="label">E-mail Secundário</label>
                                @Html.TextBoxFor( m => m.EmailSecundario, null, new { @class = "input", placeholder = "Ex:teste@divicred.com.br", id = "EmailFuncionario", disabled = "true" } )
                                @Html.ValidationMessageFor( m => m.EmailSecundario, null, new { style = "color:red" } )
                            </div>

                            <div class="control column is-3 is-expanded">
                                <label class="label">PA</label>
                                @Html.TextBoxFor( m => m.Pa, null, new { @class = "input", placeholder = "Ex:99", id = "PaFuncionario", disabled = "true" } )
                                @Html.ValidationMessageFor( m => m.Pa, null, new { style = "color:red" } )
                            </div>

                        </div>
                        <hr />
                        <div class="title is-4 is-vertical is-parent">
                            <h2 class="title is-4">Endereço Pessoal</h2>
                        </div>

                        <div class="field is-grouped ">
                            <div class="control column is-3 is-expanded">
                                <label class="label">CEP</label>
                                @Html.TextBoxFor( m => m.Cep, null, new { @class = "input", placeholder = "Ex: 35500-002", id = "CepFuncionario", disabled = "true" } )
                                @Html.ValidationMessageFor( m => m.Cep, null, new { style = "color:red" } )
                            </div>
                            <div class="control column is-3 is-expanded">
                                <label class="label">Rua</label>
                                @Html.TextBoxFor( m => m.Rua, null, new { @class = "input", placeholder = "Ex: Av. Primeiro de Junho", id = "RuaFuncionario", disabled = "true" } )
                                @Html.ValidationMessageFor( m => m.Rua, null, new { style = "color:red" } )
                            </div>
                        </div>
                        <div class="field is-grouped column">
                            <div class="control column is-3 is-expanded">
                                <label class="label">N°</label>
                                @Html.TextBoxFor( m => m.Numero, null, new { @class = "input", placeholder = "Ex: 210", id = "NumeroFuncionario", disabled = "true" } )
                                @Html.ValidationMessageFor( m => m.Numero, null, new { style = "color:red" } )
                            </div>
                            <div class="control column is-3 is-expanded">
                                <label class="label">Complemento</label>
                                @Html.TextBoxFor( m => m.Complemento, null, new { @class = "input", placeholder = "Ex: Apt:210", disabled = "true" } )
                                @Html.ValidationMessageFor( m => m.Complemento, null, new { style = "color:red" } )
                            </div>


                        </div>
                        <div class="field is-grouped ">
                            <div class="control column is-3 is-expanded">
                                <label class="label">Bairro</label>
                                @Html.TextBoxFor( m => m.Bairro, null, new { @class = "input", placeholder = "Ex: Centro", id = "BairroFuncionario", disabled = "true" } )
                                @Html.ValidationMessageFor( m => m.Bairro, null, new { style = "color:red" } )
                            </div>

                            <div class="control column is-3 is-expanded">
                                <label class="label">Cidade</label>
                                @Html.TextBoxFor( m => m.Cidade, null, new { @class = "input", placeholder = "Ex: Divinópolis", id = "CidadeFuncionario", disabled = "true" } )
                                @Html.ValidationMessageFor( m => m.Cidade, null, new { style = "color:red" } )
                            </div>
                            <div class="control column is-3 is-expanded">
                                <label class="label">País</label>
                                @Html.TextBoxFor( m => m.Pais, null, new { @class = "input", placeholder = "Ex: Brasil", disabled = "true" } )
                                @Html.ValidationMessageFor( m => m.Pais, null, new { style = "color:red" } )
                            </div>
                        </div>
                        <div class="control column">
                            <label class="label">Residência própria ?</label>
                            <div class="field">
                                @Html.RadioButtonFor( m => m.ResidenciaPropria, "Sim", new { @class = "is-checkradio is-small", id = "checkpropriasim", disabled = "true" } )
                                <label for="checkpropriasim">
                                    Sim
                                </label>
                                @Html.RadioButtonFor( m => m.ResidenciaPropria, "Não", new { @class = "is-checkradio is-small", id = "checkprorpianao", disabled = "true" } )
                                <label for="checkprorpianao">
                                    Não
                                </label>
                                @Html.ValidationMessageFor( m => m.ResidenciaPropria, null, new { style = "color:red" } )
                            </div>
                        </div>
                        <div class="control column">
                            <label class="label">Sua residência foi comprada com recursos de FGTS ?</label>
                            <div class="field">

                                @Html.RadioButtonFor( m => m.RecursoFgts, "Sim", new { @class = "is-checkradio is-small", id = "checkfgtssim", disabled = "true" } )
                                <label for="checkfgtssim">
                                    Sim
                                </label>

                                @Html.RadioButtonFor( m => m.RecursoFgts, "Não", new { @class = "is-checkradio is-small", id = "checkfgtsnao", disabled = "true" } )
                                <label for="checkfgtsnao">
                                    Não
                                </label>
                                @Html.ValidationMessageFor( m => m.RecursoFgts, null, new { style = "color:red" } )
                            </div>
                        </div>
                        <div class="control column">
                            <label class="label">Você possui deficiência motora ?</label>
                            <div class="field">
                                @Html.RadioButtonFor( m => m.DeficienteMotor, "Sim", new { @class = "is-checkradio is-small", id = "checkdeficientesim", disabled = "true" } )
                                <label for="checkdeficientesim">
                                    Sim
                                </label>
                                @Html.RadioButtonFor( m => m.DeficienteMotor, "Não", new { @class = "is-checkradio is-small", id = "checkdeficientenao", disabled = "true" } )
                                <label for="checkdeficientenao">
                                    Não
                                </label>
                                @Html.ValidationMessageFor( m => m.DeficienteMotor, null, new { style = "color:red" } )
                            </div>
                        </div>
                        <div class="control column">
                            <label class="label">Você possui deficiência visual ?</label>
                            <div class="field">
                                @Html.RadioButtonFor( m => m.DeficienteVisual, "Sim", new { @class = "is-checkradio is-small", id = "checkvisualsim", disabled = "true" } )
                                <label for="checkvisualsim">
                                    Sim
                                </label>
                                @Html.RadioButtonFor( m => m.DeficienteVisual, "Não", new { @class = "is-checkradio is-small", id = "checkvisualnao", disabled = "true" } )
                                <label for="checkvisualnao">
                                    Não
                                </label>
                                @Html.ValidationMessageFor( m => m.DeficienteVisual, null, new { style = "color:red" } )
                            </div>
                        </div>
                        <div class="control column">
                            <label class="label">Você possui deficiência auditiva ?</label>
                            <div class="field">
                                @Html.RadioButtonFor( m => m.DeficienteAuditivo, "Sim", new { @class = "is-checkradio is-small", id = "checkauditivosim", disabled = "true" } )
                                <label for="checkauditivosim">
                                    Sim
                                </label>
                                @Html.RadioButtonFor( m => m.DeficienteAuditivo, "Não", new { @class = "is-checkradio is-small", id = "checkauditivonao", disabled = "true" } )
                                <label for="checkauditivonao">
                                    Não
                                </label>
                                @Html.ValidationMessageFor( m => m.DeficienteAuditivo, null, new { style = "color:red" } )
                            </div>
                        </div>
                        <div class="control column">
                            <label class="label">Você passou por reabilitação ?</label>
                            <div class="field">
                                @Html.RadioButtonFor( m => m.Reabilitado, "Sim", new { @class = "is-checkradio is-small", id = "checkreabilitadosim", disabled = "true" } )
                                <label for="checkreabilitadosim">
                                    Sim
                                </label>
                                @Html.RadioButtonFor( m => m.Reabilitado, "Não", new { @class = "is-checkradio is-small", id = "checkreabilitadonao", disabled = "true" } )
                                <label for="checkreabilitadonao">
                                    Não
                                </label>
                                @Html.ValidationMessageFor( m => m.Reabilitado, null, new { style = "color:red" } )
                            </div>
                        </div>
                        <div class="control  is-fullwidth">
                            <label class="label">Observação:</label>
                            @Html.TextAreaFor( m => m.ObservacaoDeficiente, new { @class = "textarea", placeholder = "Ex: Descrição de alguma deficiência não citada acima", disabled = "true" } )
                            @Html.ValidationMessageFor( m => m.DeficienteMotor, null, new { style = "color:red" } )
                        </div>
                    </div>
                </div>
            </div>

            <hr />
            <p class="card-header-title">
                Arquivos Pessoais
            </p>

            <div id="ArquivoPessoal">
                <div class="card-content">
                    <div class="tags">

                        <span class="tag @TempData["StatusFoto"]">
                            <a href="javascript: teste('@TempData["ImagemFoto"]','@TempData["ValidaTipoFoto"]'); void(0);" style="color: black">Foto 3/4</a>
                        </span>
                        <br />
                        <span class="tag @TempData["StatusCTPS"]">
                            <a href="javascript: teste('@TempData["ImagemCTPS"]','@TempData["ValidaTipoCTPS"]'); void(0);" style="color: black">CTPS</a>
                        </span>
                        <br />
                        <span class="tag @TempData["StatusPIS"]">
                            <a href="javascript: teste('@TempData["ImagemPIS"]','@TempData["ValidaTipoPIS"]'); void(0);" style="color: black">PIS</a>
                        </span>
                        <br />
                        <span class="tag @TempData["StatusCPF"]">
                            <a href="javascript: teste('@TempData["ImagemCPF"]','@TempData["ValidaTipoCPF"]'); void(0);" style="color: black">CPF</a>
                        </span>
                        <br />
                        <span class="tag @TempData["StatusRG"]">
                            <a href="javascript: teste('@TempData["ImagemRG"]','@TempData["ValidaTipoRg"]'); void(0);" style="color: black">RG</a>
                        </span>
                        <br />
                        <span class="tag @TempData["StatusTitulo Eleitor"]">
                            <a href="javascript: teste('@TempData["ImagemTitulo Eleitor"]','@TempData["ValidaTipoTitulo Eleitor"]'); void(0);" style="color: black">Título de Eleitor</a>
                        </span>
                        <br />
                        <span class="tag @TempData["StatusCartao SUS"]">
                            <a href="javascript: teste('@TempData["ImagemCartao SUS"]','@TempData["ValidaTipoCartao SUS"]'); void(0);" style="color: black">Cartão do SUS</a>
                        </span>
                        <br />
                        <span class="tag @TempData["StatusCNH"]">
                            <a href="javascript: teste('@TempData["ImagemCNH"]','@TempData["ValidaTipoCNH"]'); void(0);" style="color: black">Carteira de Motorista</a>
                        </span>
                        <br />
                        <span class="tag @TempData["StatusComprovante Endereco"]">
                            <a href="javascript: teste('@TempData["ImagemComprovante Endereco"]','@TempData["ValidaTipoComprovante Endereco"]'); void(0);" style="color: black">Comprovante de Endereço</a>
                        </span>
                        <br />
                        <span class="tag @TempData["StatusTipo Sanguineo"]">
                            <a href="javascript: teste('@TempData["ImagemTipo Sanguineo"]','@TempData["ValidaTipoTipo Sanguineo"]'); void(0);" style="color: black">Tipo Sanguíneo</a>
                        </span>
                        <br />
                        <span class="tag @TempData["StatusCertidao"]">
                            <a href="javascript: teste('@TempData["ImagemCertidao"]','@TempData["ValidaTipoCertidao"]'); void(0);" style="color: black">Certidão Nascimento/Casamento</a>
                        </span>
                        <br />
                        <span class="tag @TempData["StatusCertidao Filho"]">
                            <a href="javascript: teste('@TempData["ImagemCertidao Filho"]','@TempData["ValidaTipoCertidao Filho"]'); void(0);" style="color: black">Certidão(Filhos)</a>
                        </span>
                        <br />
                        <span class="tag @TempData["StatusReservista"]">
                            <a href="javascript: teste('@TempData["ImagemReservista"]','@TempData["ValidaTipoReservista"]'); void(0);" style="color: black">Certificado de Reservista</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>


