
@using System.Web.Mvc.Html
@model PortalSicoobDivicred.Models.VagasInternas

<script>
    function MudaCorAtiva() {
        if (document.getElementById("Ativacao").innerHTML=="Desativa") {
            document.getElementById("Ativacao").innerHTML = "Ativa";
            $("#Ativacao").removeClass();
            $("#Ativacao").addClass("is-primary");

        } else {
            document.getElementById("Ativacao").innerHTML = "Desativada";
            $("#Ativacao").removeClass();
            $("#Ativacao").addClass("is-danger");
        }

    }
</script>
<input id="Idvaga" name="IdVaga" hidden value="@TempData["IdVaga"]" />

<br />
<div class="field">
    <label class="label">Titulo da Vaga:</label>
    <p class="control">
        @Html.TextBoxFor(m => m.Titulo, null, new { @class = "input", placeholder = "Ex: Assistente de T.I" })
        @Html.ValidationMessageFor(m => m.Titulo, null, new { style = "color:red" })
    </p>
</div>

<div class="field">
    <label class="label">Descrição da vaga:</label>
    <div class="control">
        @Html.TextAreaFor(m => m.Descricao, new { @class = "textarea", placeholder = "Descrição das atividades", rows = "2" })
        @Html.ValidationMessageFor(m => m.Descricao, null, new { style = "color:red" })
    </div>
</div>

<div class="field">
    <label class="label">Requisitos</label>
    <p class="control">
        @Html.TextAreaFor(m => m.Requisitos, new { @class = "textarea", placeholder = "Ex: Certificação", rows = "5" })
        @Html.ValidationMessageFor(m => m.Requisitos, null, new { style = "color:red" })
    </p>
</div>


