@model PortalSicoobDivicred.Models.VagasInternas

<script src='@Url.Content("~/Assets/js/jquery-ui.min.js")' type="text/javascript"></script>
<link href="@Url.Content("~/Assets/css/animate.css")" rel="stylesheet"/>
<script type="text/javascript" src="@Url.Content("~/Assets/js/iziToast.min.js")"></script>
<link href="@Url.Content("~/Assets/css/iziToast.min.css")" rel="stylesheet"/>
<script src='@Url.Content("~/Scripts/jquery.validate.js")' type="text/javascript">
</script>
<script src='@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")' type="text/javascript"></script>
<div>
    <div class="field">
        <label class="label">Titulo da Vaga:</label>
        <p class="control">
            @Html.TextBoxFor(m => m.Titulo, null, new {@class = "input", placeholder = "Ex: Assistente de T.I"})
            @Html.ValidationMessageFor(m => m.Titulo, null, new {style = "color:red"})
        </p>
    </div>

    <div class="field">
        <label class="label">Descrição da vaga:</label>
        <p class="control">
            @Html.TextBoxFor(m => m.Descricao, null, new {@class = "input", placeholder = "Descrição das atividades"})
            @Html.ValidationMessageFor(m => m.Descricao, null, new {style = "color:red"})
        </p>
    </div>

    <div class="field">
        <label class="label">Requisitos:</label>
        <p class="control">
            @Html.TextBoxFor(m => m.Requisitos, null, new {@class = "input", placeholder = "Ex: Certificação"})
            @Html.ValidationMessageFor(m => m.Requisitos, null, new {style = "color:red"})
        </p>
    </div>
</div>