@model PortalSicoobDivicred.Models.Setor

<script src='@Url.Content("~/Scripts/jquery.validate.js")' type="text/javascript">
</script>
<script src='@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")' type="text/javascript"></script>

<script>
    function Buscar() {
        $("#ListaSetor").empty();
       $.ajax(
            {
                type: 'Post',
                url: '/PainelColaborador/BuscarSetor',
                dataType: 'html',
                cache: true,
                async: true,
                data: { "DescricaoSetor": $("#BuscaSetor").val() },
                success: function (data) {
                    $("#ListaSetor").append(data);

                }
            });

    }
</script>
<div>

    <div class="field is-grouped is-desktop">

        <p class="control">
            <button class="button is-primary modal-button" id="NovoChamado" onmouseleave="$('#NovoChamado').removeClass('animated pulse')" onmouseover="$('#NovoChamado').addClass('animated pulse');" data-balloon="Clique para editar uma função existente." data-balloon-pos="down" onclick="javascript:$('#ModalSetor').removeClass();$('#ModalSetor').addClass('modal is-active');void(0);">
                <span class="icon is-small">
                    <i class="fas fa-edit" aria-hidden="true"></i>
                </span>
                <span class="name">Editar Setor</span>
            </button>
        </p>
    </div>
    @using (Html.BeginForm("Setor", "PainelColaborador"))
    {
        <div class="field">
            <label class="label">Nome Setor</label>
            <div class="control">
                @Html.TextBoxFor(m => m.NomeSetor, null, new { @class = "input", placeholder = "Ex:Assitente..." })
                @Html.ValidationMessageFor(m => m.NomeSetor, null, new { style = "color:red" })
            </div>
        </div>
        <p class="control">
            <button type="submit" class="button is-success " id="CadastroSetor" onmouseleave="$('#CadastroSetor').removeClass('animated pulse')" onmouseover="$('#CadastroSetor').addClass('animated pulse');" data-balloon="Clique para editar uma função existente." data-balloon-pos="down">
                <span class="icon is-small">
                    <i class="fas fa-save" aria-hidden="true"></i>
                </span>
                <span class="name">Cadastrar Setor</span>
            </button>
        </p>
    }
    <script src='@Url.Content("~/Scripts/jquery.validate.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")' type="text/javascript"></script>

    @using (Html.BeginForm("EditarSetor", "PainelColaborador"))
    {
        <div id="ModalSetor" class="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Editar Setor</p>
                    <a href="javascript:$('#ModalSetor').removeClass();$('#ModalSetor').addClass('modal');void(0);" class="delete"></a>
                </header>
                <section class="modal-card-body">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                               Setores
                            </p>

                        </header>
                        <div class="card-content">
                            <div class="content">

                                <div class="field has-addons">
                                    <div class="control has-icons-left is-expanded">
                                        <input id="BuscaSetor" class="input is-fullwidth" type="text" placeholder="Busque um setor.">
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </div>
                                    <div class="control">
                                        <a href="Javascript:Buscar();void(0);" class="button is-success">
                                            Procurar
                                        </a>
                                    </div>
                                </div>
                                <ul id="ListaSetor"></ul>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div id="EdicaoSetor" hidden>

                        <br />
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button type="submit" id="SalvaSetor" disabled class="button is-success">Salvar Setor</button>
                    <a class="button" href="javascript:$('#ModalSetor').removeClass();$('#ModalSetor').addClass('modal');void(0);">Cancelar</a>
                </footer>
            </div>
        </div>
    }

</div>

