@model PortalSicoobDivicred.Models.Tesouraria

<script type="text/javascript" src="@Url.Content("~/Assets/js/jquery.mask.js")"></script>
<script src='@Url.Content("~/Scripts/jquery.validate.js")' type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/Assets/js/iziToast.min.js")"></script>
<link href="@Url.Content("~/Assets/css/iziToast.min.css")" rel="stylesheet"/>
<link href="@Url.Content("~/Assets/css/balloon.css")" rel="stylesheet"/>
<script src='@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")' type="text/javascript"></script>
<script type="text/javascript">

    $(document).ready(function() {
        $(".hora").mask('00:00');

    });


</script>


@using (Html.BeginForm("Resultado", "Tesouraria", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    <table id="Pendencias" name="Pendencias" class="table  is-centered is-narrow is-fullwidth ">
        <thead>
        <th class="has-text-centered">Histórico</th>
        <th class="has-text-centered">Extrato</th>
        <th class="has-text-centered">Arquivos</th>
        <th class="has-text-centered">Diferença</th>
        <th class="has-text-centered"></th>


        <tr>
            <td class="has-text-centered">
                1 - Cheques 4030
            </td>
            <td class="has-text-centered">
                @Convert.ToDouble(TempData["Extrato-3/4/5"]).ToString("C")
            </td>
            <td class="has-text-centered">
                <input name="Historico @TempData["3/4/5"]" id="Historico @TempData["3/4/5"]" value="@TempData["3/4/5"]" hidden="true"/>@Convert.ToDouble(TempData["3/4/5"]).ToString("C")
            </td>
            <td class="has-text-centered">
                <input name="Diferenca @TempData["Diferenca1"]" id="Diferenca @TempData["Diferenca1"]" value="@TempData["Diferenca1"]" hidden="true"/>@Convert.ToDouble(TempData["Diferenca1"]).ToString("C")
            </td>
            <td class="has-text-centered"style="width: 10%">
                <img src="/Images/@TempData["Diferencatexto1"]">
            </td>

        </tr>


        <tr>
            <td class="has-text-centered">
                2 - TED´s Enviadas
            </td>
            <td class="has-text-centered">
                @Convert.ToDouble(TempData["Extrato-5472/5473/5474/232/233/234/235"]).ToString("C")
            </td>
            <td class="has-text-centered">
                <input name="Historico @TempData["5472/5473/5474/232/233/234/235-FINAL"]" id="Historico @TempData["5472/5473/5474/232/233/234/235-FINAL"]" value="@TempData["5472/5473/5474/232/233/234/235-FINAL"]" hidden="true"/>@Convert.ToDouble(TempData["5472/5473/5474/232/233/234/235-FINAL"]).ToString("C")
            </td>
            <td class="has-text-centered">
                <input name="Diferenca @TempData["Diferenca3"]" id="Diferenca @TempData["Diferenca3"]" value="@TempData["Diferenca3"]" hidden="true"/>@Convert.ToDouble(TempData["Diferenca3"]).ToString("C")
            </td>
            <td class="has-text-centered"style="width: 10%">
                <img src="/Images/@TempData["Diferencatexto3"]">
            </td>

        </tr>

        <tr>
            <td class="has-text-centered">
                3 - TED´s Recebidas
            </td>
            <td class="has-text-centered">
                @Convert.ToDouble(TempData["Extrato-821/2/7286/7336/847"]).ToString("C")
            </td>
            <td class="has-text-centered">
                <input name="Historico @TempData["821/2/7286/7336/847"]" id="Historico @TempData["821/2/7286/7336/847"]" value="@TempData["821/2/7286/7336/847"]" hidden="true"/>@Convert.ToDouble(TempData["821/2/7286/7336/847"]).ToString("C")
            </td>
            <td class="has-text-centered">
                <input name="Diferenca @TempData["Diferenca4"]" id="Diferenca @TempData["Diferenca4"]" value="@TempData["Diferenca4"]" hidden="true"/>@Convert.ToDouble(TempData["Diferenca4"]).ToString("C")
            </td>
            <td class="has-text-centered"style="width: 10%">
                <img src="/Images/@TempData["Diferencatexto4"]">
            </td>

        </tr>

        <tr>
            <td class="has-text-centered">
                4 - Cheques Dep/TD. Devolvidos
            </td>
            <td class="has-text-centered">
                @Convert.ToDouble(TempData["Extrato-6/192"]).ToString("C")
            </td>
            <td class="has-text-centered">
                <input name="Historico @TempData["6/192-FINAL"]" id="Historico @TempData["6/192-FINAL"]" value="@TempData["6/192-FINAL"]" hidden="true"/>@Convert.ToDouble(TempData["6/192-FINAL"]).ToString("C")
            </td>
            <td class="has-text-centered">
                <input name="Diferenca @TempData["Diferenca5"]" id="Diferenca @TempData["Diferenca5"]" value="@TempData["Diferenca5"]" hidden="true"/>@Convert.ToDouble(TempData["Diferenca5"]).ToString("C")
            </td>
            <td class="has-text-centered"style="width: 10%">
                <img src="/Images/@TempData["Diferencatexto5"]">
            </td>
        </tr>

        <tr>
            <td class="has-text-centered">
                5 - Boletos Rejeitados
            </td>
            <td class="has-text-centered">
                @Convert.ToDouble(TempData["Extrato-7027"]).ToString("C")
            </td>
            <td class="has-text-centered">
                <input name="Historico @TempData["7027"]" id="Historico @TempData["7027"]" value="@TempData["7027"]" hidden="true"/>@Convert.ToDouble(TempData["7027"]).ToString("C")
            </td>
            <td class="has-text-centered">
                <input name="Diferenca @TempData["Diferenca6"]" id="Diferenca @TempData["Diferenca6"]" value="@TempData["Diferenca6"]" hidden="true"/>@Convert.ToDouble(TempData["Diferenca6"]).ToString("C")
            </td>
            <td class="has-text-centered"style="width: 10%">
                <img src="/Images/@TempData["Diferencatexto6"]">
            </td>

        </tr>

        <tr>
            <td class="has-text-centered">
                6 - Cheques Compensados
            </td>
            <td class="has-text-centered">
                @Convert.ToDouble(TempData["ExtratoCampos"]).ToString("C")
            </td>
            <td class="has-text-centered">
                <input name="Historico @TempData["valorTotalNr"]" id="Historico @TempData["valorTotalNr"]" value="@TempData["valorTotalNr"]" hidden="true"/>@Convert.ToDouble(TempData["valorTotalNr"]).ToString("C")
            </td>
            <td class="has-text-centered">
                <input name="Diferenca @TempData["Diferenca7"]" id="Diferenca @TempData["Diferenca7"]" value="@TempData["Diferenca7"]" hidden="true"/>@Convert.ToDouble(TempData["Diferenca7"]).ToString("C")
            </td>
            <td class="has-text-centered"style="width: 10%">
                <img src="/Images/@TempData["Diferencatexto7"]">
            </td>

        </tr>

        <tr>
            <td class="has-text-centered">
                7 - Cotas Partes
            </td>
            <td class="has-text-centered">
                @Convert.ToDouble(TempData["Extrato-5761"]).ToString("C")
            </td>
            <td class="has-text-centered">
                <input name="Historico @TempData["5761"]" id="Historico @TempData["5761"]" value="@TempData["5761"]" hidden="true"/>@Convert.ToDouble(TempData["5761"]).ToString("C")
            </td>
            <td class="has-text-centered">
                <input name="Diferenca @TempData["Diferenca8"]" id="Diferenca @TempData["Diferenca8"]" value="@TempData["Diferenca8"]" hidden="true"/>@Convert.ToDouble(TempData["Diferenca8"]).ToString("C")
            </td>
            <td class="has-text-centered"style="width: 10%">
                <img src="/Images/@TempData["Diferencatexto8"]">
            </td>

        </tr>

        <tr>
            <td class="has-text-centered">
                8 - Doc's Recebidos
            </td>
            <td class="has-text-centered">
                @Convert.ToDouble(TempData["Extrato-820"]).ToString("C")
            </td>
            <td class="has-text-centered">
                <input name="Historico @TempData["820"]" id="Historico @TempData["820"]" value="@TempData["820"]" hidden="true"/>@Convert.ToDouble(TempData["820"]).ToString("C")
            </td>
            <td class="has-text-centered">
                <input name="Diferenca @TempData["Diferenca9"]" id="Diferenca @TempData["Diferenca9"]" value="@TempData["Diferenca9"]" hidden="true"/>@Convert.ToDouble(TempData["Diferenca9"]).ToString("C")
            </td>
            <td class="has-text-centered"style="width: 10%">
                <img src="/Images/@TempData["Diferencatexto9"]">
            </td>

        </tr>

        <tr>
            <td class="has-text-centered">
                9 - Doc's Enviados
            </td>
            <td class="has-text-centered">
                @Convert.ToDouble(TempData["Extrato-257/258"]).ToString("C")
            </td>
            <td class="has-text-centered">
                <input name="Historico @TempData["257/258"]" id="Historico @TempData["257/258"]" value="@TempData["257/258"]" hidden="true"/>@Convert.ToDouble(TempData["257/258"]).ToString("C")
            </td>
            <td class="has-text-centered">
                <input name="Diferenca @TempData["Diferenca10"]" id="Diferenca @TempData["Diferenca10"]" value="@TempData["Diferenca10"]" hidden="true"/>@Convert.ToDouble(TempData["Diferenca10"]).ToString("C")
            </td>
            <td class="has-text-centered"style="width: 10%">
                <img src="/Images/@TempData["Diferencatexto10"]">
            </td>

        </tr>

        <tr>
            <td class="has-text-centered">
                10 - Cheques Devolvidos 4030
            </td>
            <td class="has-text-centered">
                @Convert.ToDouble(TempData["NRDEVELETRONICA-FINAL"]).ToString("C")
            </td>
            <td class="has-text-centered">
                <input name="Historico @TempData["CHEQUEDEVOLVIDO"]" id="Historico @TempData["CHEQUEDEVOLVIDO"]" value="@TempData["CHEQUEDEVOLVIDO"]" hidden="true"/>@Convert.ToDouble(TempData["CHEQUEDEVOLVIDO"]).ToString("C")
            </td>
            <td class="has-text-centered">
                <input name="Diferenca @TempData["Diferenca11"]" id="Diferenca @TempData["Diferenca11"]" value="@TempData["Diferenca11"]" hidden="true"/>@Convert.ToDouble(TempData["Diferenca11"]).ToString("C")
            </td>
            <td class="has-text-centered"style="width: 10%">
                <img src="/Images/@TempData["Diferencatexto11"]">
            </td>
        </tr>
    </table>
    <input type="text" value="@TempData["data"]" name="dataescolhida"hidden/>
    <div class="columns content">
        <div class="column is-12">
            <label class="label">Justificativa</label>
            @Html.TextAreaFor(m => m.Justificativa, new {@class = "textarea", required = "required", type = "string", rows = "6", placeholder = "Max 200 caracteres"})
        </div>
    </div>

    <div class="buttons">
        <p class="control" id="botaoProcessar" style="left: 40%">
            <button type="submit" class="button is-success" data-balloon="Clique para processar dados" data-balloon-pos="down">
                <span class="icon is-small">
                    <i class="fas fa-check"></i>
                </span>
                <span>Salvar</span>
            </button>
        </p>
    </div>
}