@model PortalSicoobDivicred.Models.Tesouraria

<script type="text/javascript" src="@Url.Content("~/Assets/js/jquery.mask.js")"></script>
<script src='@Url.Content("~/Scripts/jquery.validate.js")' type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/Assets/js/iziToast.min.js")"></script>
<link href="@Url.Content("~/Assets/css/iziToast.min.css")" rel="stylesheet"/>
<link href="@Url.Content("~/Assets/css/balloon.css")" rel="stylesheet"/>
<script src='@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")' type="text/javascript"></script>
<script type="text/javascript">

    $(document).ready(function() {
        $(".hora").mask('00:00');

    });
</script>
<script>
    function AbrirProcesso(data) {


        iziToast.show({
            message: 'Confirma a exclusão do Registro ?',
            position: 'center',
            progressBarColor: 'rgb(0, 255, 184)',
            buttons: [
                [
                    '<button>Sim</button>', function(instance, toast) {


                        $.ajax(
                            {
                                type: 'POST',
                                url: '/Tesouraria/DeletaProducao',
                                cache: true,
                                async: true,
                                data: { "data": data },
                                success: function(data) {
                                    instance.hide({
                                            transitionOut: 'fadeOutUp',
                                            onClosing: function(instance, toast, closedBy) {
                                                console.info('closedBy: ' + closedBy); //btn2

                                            }
                                        },
                                        toast,
                                        'close',
                                        'btn1');

                                    location.href = "/Tesouraria/Tesouraria?Mensagem=Pontuação excluída com sucesso";

                                }
                            });

                    }
                ],
                [
                    '<button>Não</button>', function(instance, toast) {
                        instance.hide({
                                transitionOut: 'fadeOutUp',
                                onClosing: function(instance, toast, closedBy) {
                                    console.info('closedBy: ' + closedBy); //btn2
                                }
                            },
                            toast,
                            'close',
                            'btn2');
                    }
                ]
            ]

        });
    }

</script>


<div class="content">


    @if (TempData["RetornaValor"].ToString() == "0")
    {
        using (Html.BeginForm("Pesquisa", "Tesouraria", FormMethod.Post))
        {
            <div id="tabelaDados" style="background-color: white">
                <table id="Pendencias" name="Pendencias" class="table  is-centered is-narrow is-fullwidth ">
                    <thead>
                    <th class="has-text-centered">Histórico</th>
                    <th class="has-text-centered">Extrato</th>
                    <th class="has-text-centered">Arquivos</th>
                    <th class="has-text-centered">Diferença</th>

                    <tr>
                        <td class="has-text-centered">
                            @TempData["historico"]
                        </td>
                        <td class="has-text-centered">
                            @Convert.ToDouble(TempData["extrato"]).ToString("C")
                        </td>
                        <td class="has-text-centered">
                            @Convert.ToDouble(TempData["arquivos"]).ToString("C")
                        </td>
                        <td class="has-text-centered">
                            @Convert.ToDouble(TempData["diferenca"]).ToString("C")
                        </td>
                    </tr>
                    <tr>
                        <td class="has-text-centered">
                            @TempData["historico7"]
                        </td>
                        <td class="has-text-centered">
                            @Convert.ToDouble(TempData["extrato7"]).ToString("C")
                        </td>
                        <td class="has-text-centered">
                            @Convert.ToDouble(TempData["arquivos7"]).ToString("C")
                        </td>
                        <td class="has-text-centered">
                            @Convert.ToDouble(TempData["diferenca7"]).ToString("C")
                        </td>
                    </tr>
                    <tr>
                        <td class="has-text-centered">
                            @TempData["historico4"]
                        </td>
                        <td class="has-text-centered">
                            @Convert.ToDouble(TempData["extrato4"]).ToString("C")
                        </td>
                        <td class="has-text-centered">
                            @Convert.ToDouble(TempData["arquivos4"]).ToString("C")
                        </td>
                        <td class="has-text-centered">
                            @Convert.ToDouble(TempData["diferenca4"]).ToString("C")
                        </td>
                    </tr>
                    <tr>
                        <td class="has-text-centered">
                            @TempData["historico8"]
                        </td>
                        <td class="has-text-centered">
                            @Convert.ToDouble(TempData["extrato8"]).ToString("C")
                        </td>
                        <td class="has-text-centered">
                            @Convert.ToDouble(TempData["arquivos8"]).ToString("C")
                        </td>
                        <td class="has-text-centered">
                            @Convert.ToDouble(TempData["diferenca8"]).ToString("C")
                        </td>
                    </tr>
                    <tr>
                        <td class="has-text-centered">
                            @TempData["historico5"]
                        </td>
                        <td class="has-text-centered">
                            @Convert.ToDouble(TempData["extrato5"]).ToString("C")
                        </td>
                        <td class="has-text-centered">
                            @Convert.ToDouble(TempData["arquivos5"]).ToString("C")
                        </td>
                        <td class="has-text-centered">
                            @Convert.ToDouble(TempData["diferenca5"]).ToString("C")
                        </td>
                    </tr>

                    <tr>
                        <td class="has-text-centered">
                            @TempData["historico6"]
                        </td>
                        <td class="has-text-centered">
                            @Convert.ToDouble(TempData["extrato6"]).ToString("C")
                        </td>
                        <td class="has-text-centered">
                            @Convert.ToDouble(TempData["arquivos6"]).ToString("C")
                        </td>
                        <td class="has-text-centered">
                            @Convert.ToDouble(TempData["diferenca6"]).ToString("C")
                        </td>
                    </tr>

                    <tr>
                        <td class="has-text-centered">
                            @TempData["historico1"]
                        </td>
                        <td class="has-text-centered">
                            @Convert.ToDouble(TempData["extrato1"]).ToString("C")
                        </td>
                        <td class="has-text-centered">
                            @Convert.ToDouble(TempData["arquivos1"]).ToString("C")
                        </td>
                        <td class="has-text-centered">
                            @Convert.ToDouble(TempData["diferenca1"]).ToString("C")
                        </td>
                    </tr>

                    <tr>
                        <td class="has-text-centered">
                            @TempData["historico3"]
                        </td>
                        <td class="has-text-centered">
                            @Convert.ToDouble(TempData["extrato3"]).ToString("C")
                        </td>
                        <td class="has-text-centered">
                            @Convert.ToDouble(TempData["arquivos3"]).ToString("C")
                        </td>
                        <td class="has-text-centered">
                            @Convert.ToDouble(TempData["diferenca3"]).ToString("C")
                        </td>
                    </tr>
                    <tr>
                        <td class="has-text-centered">
                            @TempData["historico2"]
                        </td>
                        <td class="has-text-centered">
                            @Convert.ToDouble(TempData["extrato2"]).ToString("C")
                        </td>
                        <td class="has-text-centered">
                            @Convert.ToDouble(TempData["arquivos2"]).ToString("C")
                        </td>
                        <td class="has-text-centered">
                            @Convert.ToDouble(TempData["diferenca2"]).ToString("C")
                        </td>
                    </tr>









                    <tr>
                        <td class="has-text-centered">
                            @TempData["historico9"]
                        </td>
                        <td class="has-text-centered">
                            @Convert.ToDouble(TempData["extrato9"]).ToString("C")
                        </td>
                        <td class="has-text-centered">
                            @Convert.ToDouble(TempData["arquivos9"]).ToString("C")
                        </td>
                        <td class="has-text-centered">
                            @Convert.ToDouble(TempData["diferenca9"]).ToString("C")
                        </td>
                    </tr>
                </table>
            </div>
        }
        using (Html.BeginForm("AtualizaJustificativa", "Tesouraria", FormMethod.Post))
        {
            <div class="columns content">
                <div class="column is-12">
                    <label class="label">Justificativa</label>

                    @Html.TextAreaFor(m => m.Justificativa, new {@class = "textarea", type = "string", rows = "6", placeholder = "Max 200 caracteres"})

                </div>
            </div>

            <div>
                <div id="botoes">
                    <p class="control">
                        <button class="button is-success" type="submit" data-balloon="Clique para processar dados" data-balloon-pos="down">
                            <span>Salvar</span>
                        </button>


                        <button type="button" class="button is-danger" onclick="location.href = 'javascript:AbrirProcesso(@TempData["dataPesquisa"]);void(0);'" name="AbrirProcesso">
                            Delete
                        </button>
                    </p>
                </div>
            </div>
        }
    }
    else
    {
        <nav class="level ">
            <p class="level-item has-text-centered">
                <img src="/Images/Sem regitro.png" alt="" style="height: 90px;">
            </p>
        </nav>
    }

</div>