@using PortalSicoobDivicred.Models

<script src='@Url.Content("~/Assets/js/jquery-ui.min.js")' type='text/javascript'></script>
<script src='@Url.Content("~/Assets/js/jquery.tablesorter.min.js")' type='text/javascript'></script>


<script>
    function Curriculo() {
        $("#Conteudo").empty();
        $.ajax(
            {
                type: 'GET',
                dataType: 'html',
                cache: true,
                async: true,
                success: function(data) {
                    $.get('/Principal/Curriculo',
                        function(data) {
                            $("#Conteudo").append(data);

                        });
                }
            });
           }
    
    $("#FiltroPerfil").submit(function () {
            $.ajax({                                                           
                type: "POST",                                                  
                url: "/Principal/FiltrarPerfilVaga",                          
                data: $("#FiltroPerfil").serialize(),                               
                success: function (data) {
                    $("#Conteudo").empty();
                    $("#Conteudo").append(data);                                       
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    alert("epic fail!")                                         
                }
            });
            return false;                            
        });

    function Dash() {
        $("#Conteudo").empty();
        $.ajax(
            {
                type: 'GET',
                dataType: 'html',
                cache: true,
                async: true,
                success: function(data) {
                    $.get('/Principal/Dashboard',
                        function(data) {
                            $("#Conteudo").append(data);
                           
                        });
                }
            });
           
    }

    $(document).ready(function() {
        window.history.pushState("state", "title", "/Principal/Principal");
            
              
   
    });

    $(function() {
        $("#TabelaCurriculo").tablesorter(); 
    });

    $(function(){
        $(".input-search").keyup(function(){
            var tabela = $(this).attr('alt');
            if( $(this).val() != ""){
                $("."+tabela+" tbody>tr").hide();
                $("."+tabela+" td:contains-ci('" + $(this).val() + "')").parent("tr").show();
            } else{
                $("."+tabela+" tbody>tr").show();
            }
        }); 
    });
    $.extend($.expr[":"], {
        "contains-ci": function(elem, i, match, array) {
            return (elem.textContent || elem.innerText || $(elem).text() || "").toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
        }
    });

    function AbrirProcesso() {
        iziToast.show({
    theme: 'dark',
    icon: 'icon-person',
    title: 'Processo seletivo.',
    message: 'Você tem certeza que deseja abrir um processo seletivo com os curriculos filtrados ?',
    position: 'center', // bottomRight, bottomLeft, topRight, topLeft, topCenter, bottomCenter
    progressBarColor: 'rgb(0, 255, 184)',
    buttons: [
        ['<button>Sim</button>', function (instance, toast) {
            $.ajax(
                {
                    type: 'GET',
                    dataType: 'html',
                    cache: true,
                    async: true,
                    success: function(data) {
                        $.get('/Principal/AbrirProcesso',
                            function(data) {
                                iziToast.success({
                                    title: 'OK',
                                    message: 'Processo seletivo cadastrado com sucesso!',
                                });
                               
                           
                            });
                    }
                });
        }],
        ['<button>Não</button>', function (instance, toast) {
            instance.hide({
                transitionOut: 'fadeOutUp',
                onClosing: function(instance, toast, closedBy){
                    console.info('closedBy: ' + closedBy); //btn2
                }
            }, toast, 'close', 'btn2');
        }]
    ],
    onOpening: function(instance, toast){
        console.info('callback abriu!');
    },
    onClosing: function(instance, toast, closedBy){
        console.info('closedBy: ' + closedBy); // tells if it was closed by 'drag' or 'button'
    }
});
    }
  
</script>


<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="javascript:Dash()"><span class="icon is-small"><i class="fa fa-home"></i></span><span>DashBoard</span></a></li>
        <li><a href="javascript:Curriculo()"><span class="icon is-small"><i class="fa fa-book"></i></span><span>Curriculos</span></a></li>
        <li class="is-active"><a href="#" aria-current="page" style="color: #38d5c5;"><span class="icon is-small" style="color: #38d5c5;"><i class="fa fa-suitcase" aria-hidden="true"></i></span><span>Vagas - @TempData["TituloVaga"]</span></a></li>
    </ul>
</nav>
<div>
    <form id="FiltroPerfil" name="FiltroPerfil">
    <span >
        <h2 class="subtitle">@TempData["TituloVaga"]</h2></span>
    <input id="TituloVaga" name="TituloVaga" value="@TempData["TituloVaga"]" hidden="true"/>
    <br/>
        <div class="field is-grouped">

            <p class="control has-icons-left">
                <span class="select">
                    <select name="FiltroSexo" id="FiltroSexo">
                        <option selected>Sexo</option>
                        <option>Masculino</option>
                        <option>Feminino</option>
                    </select>
                </span>
                <span class="icon is-small is-left">
                    <i class="fa fa-venus-mars" aria-hidden="true"></i>
                </span>
            </p>
            <div class="field">
                <p class="control has-icons-left">
                    <input name="FiltroCidade" id="FiltroCidade" class="input input-search" type="text" placeholder="Cidade">
                    <span class="icon is-small is-left">
                        <i class="fa fa-bank"></i>
                    </span>
                </p>
            </div>
            <p class="control has-icons-left">
                <span class="select">
                    <select id="FiltroGraduacao" name="FiltroGraduacao">
                        <option selected>Graduação</option>
                        <option>Ensino médio | Andamento/Completo</option>
                        <option>Superior | Andamento/Completo </option>
                        <option>Pós-Graduação | Andamento/Completo</option>
                        <option>Mestrado/Doutorado | Andamento/Completo</option>
                    </select>
                </span>
                <span class="icon is-small is-left">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                </span>
            </p>

            <div class="field">
                <p class="control has-icons-left">
                    <input id="FiltroAnoFormacao" name="FiltroAnoFormacao" class="input" type="text" placeholder="Ano de Formação">
                    <span class="icon is-small is-left">
                        <i class="fa fa-calendar-o"></i>
                    </span>
                </p>
            </div>

            <p class="control has-icons-left">
                <span class="select">
                    <select id="FiltroFaixaEtaria" name="FiltroFaixaEtaria">
                        <option selected>Faixa Etária</option>
                        <option> < 18 </option>
                        <option>18 - 25 </option>
                        <option>25 - 30 </option>
                        <option>30 - 40 </option>
                        <option> 40 > </option>
                    </select>
                </span>
                <span class="icon is-small is-left">
                    <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                </span>
            </p>


            <div class="field">
                <p class="control has-icons-left">
                    <input id="FiltroCertificacao" name="FiltroCertificacao" class="input" type="text" placeholder="Certificação">
                    <span class="icon is-small is-left">
                        <i class="fa fa-certificate"></i>
                    </span>
                </p>
            </div>

        </div>
        <button type="submit" class="button is-success" data-balloon="Clique para filtrar os perfis para esta vaga" data-balloon-pos="up"><span class="icon is-small">
                <i class="fa fa-filter" aria-hidden="true"></i>
            </span>
            Aplicar Filtro
        </button>
        <button  type="button" onclick="javascript:AbrirProcesso()" class="button is-success" data-balloon="@TempData["DicaProcesso"]" data-balloon-pos="up">
            <span class="icon is-small">
                <i class="fa fa-bolt fa-fw" aria-hidden="true"> </i>
            </span> Iniciar Processo Seletivo
        </button>
        <button @TempData["Ativa"] type="button" onclick="location.href='@Url.Action("EncerrarVaga", "Principal",new{IdVaga=TempData["IdVaga"]})'" class="button is-danger" data-balloon="@TempData["Dica"]" data-balloon-pos="up">
            <span class="icon is-small">
                <i class="fa fa-times fa-fw" aria-hidden="true"> </i>
            </span> Encerrar Vaga
        </button>

        <hr/>
    </form>


    <table id="TabelaCurriculo" class="lista-curriculo table is-striped is-centered" style="text-align: center">
        <thead>
        <th></th>
        <th>Nome</th>
        <th>Email</th>
        <th>Cidade</th>
        <th>Certificação</th>
        </thead>
        <tbody>
        @for (int i = 0; i < Convert.ToInt32(TempData["TotalCurriculo"].ToString()); i++)
        {
            <tr>
                <th><img src="@TempData["Imagem" + i]" class="avatar-image image is-32x32"/></th>
                <td>
                    <a href="javascript:$('#ModalCurriculo').removeClass();$('#ModalCurriculo').addClass('modal is-active')">@TempData["Nome" + i].ToString()</a> <strong></strong>
                </td>
                <td>@TempData["Email" + i].ToString()</td>
                <td>@TempData["Cidade" + i].ToString()</td>
                <td>@TempData["Certificacao" + i].ToString()</td>
            </tr>
        }
        <tbody>
    </table>
</div>
