@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="@Url.Content("https://code.jquery.com/jquery-2.1.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/css/bulma-steps/steps.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/js/iziToast.min.js")"></script>
    <link href="@Url.Content("~/Assets/css/font-awesome.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Assets/css/balloon.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Assets/css/iziToast.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Assets/css/StyleSheet1.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Assets/css/animate.css")" rel="stylesheet" />

    <meta name="viewport" content="width=device-width" />

    <title>Principal</title>

    <script>





        function Curriculo() {
            $("#Conteudo").empty();
            $.ajax(
                {
                    type: 'GET',
                    dataType: 'html',
                    url: '/Curriculo/Curriculo',
                    cache: true,
                    async: true,
                    data: { "Ordenacao": "" },
                    success: function (data) {
                        var tamanho = $(window).height();
                        $("body").css('height', tamanho);
                        $("#Conteudo").append(data);
                        windowHeight = $(document).height();
                        $('#CorpoPrincipal').css('height', windowHeight);
                        $('#CorpoPrincipal').css('background', '#e6e6e6');

                    }
                });

        }
        function LogOff() {
            $.ajax(
                {
                    type: 'GET',
                    dataType: 'html',
                    url: '/Login/Logoff',
                    cache: true,
                    async: true,
                    data: { "Ordenacao": "" },
                    success: function (data) {
                        document.location.href = "/Login/Login";

                    }
                });

        }

        function Dash() {
            $("#Conteudo").empty();
            $.ajax(
                {
                    type: 'GET',
                    dataType: 'html',
                    cache: true,
                    async: true,
                    success: function (data) {
                        $.get('/Principal/Dashboard',
                            function (data) {
                                var tamanho = $(window).height();
                                $("body").css('height', tamanho);
                                $("#Conteudo").append(data);
                                windowHeight = $(document).height();
                                $('#CorpoPrincipal').css('height', windowHeight);
                                $('#CorpoPrincipal').css('background', '#e6e6e6');
                            });
                    }
                });

        }
        function PerfilColaborador() {
            $("#Conteudo").empty();
            $.ajax(
                {
                    type: 'GET',
                    dataType: 'html',
                    cache: true,
                    async: true,
                    success: function (data) {
                        $.get('/PainelColaborador/Perfil',
                            function (data) {
                                $("#Conteudo").append(data);
                                windowHeight = $(document).height();
                                $('#CorpoPrincipal').css('height', windowHeight);
                                $('#CorpoPrincipal').css('background', '#e6e6e6');
                            });
                    }
                });

        }
        function ColaboradorRh() {
            $("#Conteudo").empty();
            $.ajax(
                {
                    type: 'GET',
                    dataType: 'html',
                    cache: true,
                    async: true,
                    success: function (data) {
                        $.get('/PainelColaborador/ColaboradorRh',
                            function (data) {
                                $("#Conteudo").append(data);
                                windowHeight = $(document).height();
                                $('#CorpoPrincipal').css('height', windowHeight);
                                $('#CorpoPrincipal').css('background', '#e6e6e6');
                            });
                    }
                });

        }

        $(document).ready(function () {

            window.history.pushState("state", "title", "/Principal/Principal");
            var windowHeight = $(document).height();
            $('#Lateral').css('position', "absolute");
            $('#CorpoPrincipal').css('height', windowHeight);
            $('#CorpoPrincipal').css('background', '#e6e6e6');
            animating = true;
            $('#Lateral').animate({
                    left: -100,
                    opacity: 0
                },
                500,
                function () {
                    animating = false;
                });
        });

        var mouse_position;
        var animating = false;
        
        $(document).mousemove(function (e) {
           
            if (animating) {
                return;
            }
            mouse_position = e.clientX;
            var windowHeight = document.height;
            if (mouse_position <= 100) {
                
                $('#Lateral').css('height',$(window).height);
                $('#Lateral').css('position', "relative");

                $('#CorpoPrincipal').css('background', '#e6e6e6');
                animating = true;
                $('#Lateral').animate({
                        left: 0,
                        opacity: 1
                    },
                    200,
                    function () {
                        animating = false;
                    });
            } else if (mouse_position > 100) {
               
                $('#Lateral').css('position', "absolute");
                $('#CorpoPrincipal').css('background', '#e6e6e6');
                animating = true;
                $('#Lateral').animate({
                        left: -100,
                        opacity: 0
                    },
                    500,
                    function () {
                        animating = false;
                    });
            }
        });
    </script>

</head>
<body id="CorpoPrincipal">
    <style>
        html {
            height: 100vh;
            
        }

        body {
            background: #e6e6e6;
            
        }
        #main {
            overflow: hidden;
        }


    </style>
<nav class="nav" style="background: rgb(42, 63, 84)">
    <div class="nav-left">
        <a class="nav-item">
            <img src="/Images/LogoBranca.png" alt="Bulma logo">
        </a>
    </div>

    <div class="nav-center">
        <a class="nav-item">
            <div class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                    <button class="button is-link" style="background: rgb(42, 63, 84);" aria-haspopup="true">
                        <span class="icon"><i class="fa fa-bell" style="color: white"></i> </span>
                    </button>
                </div>
                <div class="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                        <div class="dropdown-item" onclick="alert('Ola');">
                            <p><strong>any type of content</strong> within the dropdown menu.</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a class="nav-item">
            <div class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                    <button class="button is-link" aria-haspopup="true"  style="background: rgb(42, 63, 84);">
                        <img src="/Uploads/@TempData["ImagemPerfil"]" style="border-radius: 50%;" data-toggle="tooltip" title="Editar perfil" class="avatar-image tooltip" /> <span class="name" style="color: white"> @TempData["NomeLateral"]</span>
                        <span class="icon is-small">
                            <i class="fa fa-angle-down" aria-hidden="true" style="color: white"></i>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu"  role="menu">
                    <div class="dropdown-content">
                        <div class="dropdown-item" onclick="javascript:PerfilColaborador()" id="PerfilNav" onmouseleave="$('#PerfilNav').removeClass('animated rubberBand')" onmouseover="$('#PerfilNav').addClass('animated rubberBand');">
                            <p style="color:#20b2aa"><span class="icon is-small"><i class="fa fa-user"></i> </span>Editar Perfil</p>
                        </div>
                        <hr class="dropdown-divider">
                       
                        <div class="dropdown-item" onclick="javascript: LogOff();" id="Sair" onmouseleave="$('#Sair').removeClass('animated rubberBand')" onmouseover="$('#Sair').addClass('animated rubberBand');" >
                            <p  style="color:#20b2aa" ><span class="icon is-small"><i class="fa fa-sign-out"></i> </span>Sair</p>
                        </div>
                     
                    </div>
                </div>
            </div>

        </a>
    </div>
    <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
    </span>

</nav>
<div id-="main">
    <div class="columns">
        <aside id="Lateral" class=" column is-2 aside hero is-fullheight is-hidden-mobile " style="background: rgb(42, 63, 84)">
            <ul class="menu-list is-centered" style="padding: 10px; text-align: justify;">
                <p class="item"></p>
                <p class="menu-label" style="color: white">
                    Geral
                </p>
                <a href="javascript:Dash()" class="item" style="color: #38d5c5;">
                    <span class="icon">
                        <i class="fa fa-tachometer"></i>
                    </span><span class="name"> Dashboard</span>
                </a>
                <a href="#" class="item" style="color: #38d5c5;">
                    <span class="icon">
                        <i class="fa fa-tasks" aria-hidden="true"></i>
                    </span><span class="name"> WebDesk</span>
                </a>
                <a href="#" class="item" style="color: #38d5c5;">
                    <span class="icon">
                        <i class="fa fa-folder-o" aria-hidden="true"></i>
                    </span><span class="name"> PGD</span>
                </a>
                <a href="javascript:PerfilColaborador();void(0);" class="item" style="color: #38d5c5;">
                    <span class="icon">
                        <i class="fa fa-user-circle-o"></i>
                    </span><span class="name"> Perfil do Colaborador</span>
                </a>

                <p class="menu-label" style="color: white">
                    Específicos
                </p>
                @(new HtmlString(@TempData["PermissaoCurriculo"].ToString()))

                <a href="javascript:ColaboradorRh();void(0);" class="item" style="color: #38d5c5;">
                    <span class="icon">
                        <i class="fa fa-user-plus"></i>
                    </span><span class="name"> Portal do Colaborador</span>
                </a>
            </ul>
        </aside>
        <div class="container">
            <div class="column is-12" id="Conteudo" name="Conteudo">

                @if (TempData["Mensagem"] != null)
            {
                    @Html.Label("")


                    <script>

                        iziToast.success({
                            title: 'Sucesso',
                            position: "center",
                            message: '@TempData["Mensagem"]',
                        });

                    </script>
                }
                @try
                {
                    @Html.Action(TempData["Opcao"].ToString(), TempData["Controlle"].ToString())
                }
                catch
                {
                    @Html.Action("Dashboard","Principal")
                }
            </div>
        </div>
    </div>

    </div>
</body>
</html>