<script type="text/javascript" src="@Url.Content("https://code.jquery.com/jquery-2.1.1.min.js")"></script>
<script src='@Url.Content("https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")' type="text/javascript"></script>
<script src='@Url.Content("~/Assets/js/jquery-ui.min.js")' type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/Assets/js/iziToast.min.js")"></script>
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<link href="@Url.Content("~/Assets/css/balloon.css")" rel="stylesheet"/>
<link href="@Url.Content("~/Assets/css/iziToast.min.css")" rel="stylesheet"/>
<link href="@Url.Content("~/Assets/css/StyleSheet1.css")" rel="stylesheet"/>
<link href="@Url.Content("~/Assets/css/animate.css")" rel="stylesheet"/>
<script type="text/javascript" src="@Url.Content("~/Assets/css/bulma-steps/steps.js")"></script>


<nav id="navprin" class="navbar is-transparent" style="background: rgb(42, 63, 84)">
    <div class="navbar-end is-center">
        <a class="navbar-item">
            <img src="/Images/LogoBranca.png" alt="Divicred Logo">
        </a>
    </div>

    <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" style="background: rgb(42, 63, 84);" aria-haspopup="true">
                <span class="icon">
                    <i class="fas fa-bell" style="color: white"></i>
                </span>
            </a>

        </div>


    </div>
    <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
    </span>

</nav>
<br/>
<div class="content container" id="VagasInternas">
    <p>
        <strong>Vagas em Aberto</strong>
    </p>
    <ul>
        @for (var i = 0; i < Convert.ToInt32(TempData["TotalVagasInternas"]); i++)
        {
            try
            {
                if (TempData["Interesse " + i].ToString().Equals("Ok"))
                {
                    <p>
                        @TempData["TituloVagaInterna " + i]
                        <a data-balloon="Descrição: @TempData["Descricao " + i] | Requisitos: @TempData["Requisito " + i]" data-balloon-length="medium" data-balloon-pos="down">
                            <span class="icon">
                                <i class="fas  fa-info-circle"></i>
                            </span>
                        </a>
                        <br/>
                        <br/>
                        <a>
                            Você já esta participando do processo seletivo.
                        </a>
                    </p>
                }
                else
                {
                    <p>
                        @TempData["TituloVagaInterna " + i]
                        <a data-balloon="Descrição: @TempData["Descricao " + i] | Requisitos: @TempData["Requisito " + i]" data-balloon-length="medium" data-balloon-pos="down">
                            <span class="icon">
                                <i class="fas  fa-info-circle"></i>
                            </span>
                        </a>
                        <br/>
                        <br/>
                        <a>
                            Você já esta participando do processo seletivo.
                        </a>
                    </p>
                }
            }
            catch
            {
                using (Html.BeginForm("TenhoInteresse", "Principal", FormMethod.Post))
                {
                    <p>
                        <input name="idvaga" id="idvaga" hidden value="@TempData["IdVaga " + i]"/>
                        @TempData["TituloVagaInterna " + i]
                        <a data-balloon=" Descriçõa: @TempData["Descricao " + i] | Requisitos: @TempData["Requisito " + i]" data-balloon-length="medium" data-balloon-pos="down">
                            <span class="icon">
                                <i class="fa fa-lg fa-info-circle"></i>
                            </span>
                        </a>
                        <div class="field">
                            <label class="label">Nome</label>
                            <div class="control">
                                <input class="input" type="text" name="nome" id="nome" placeholder="Nome" required>
                            </div>
                        </div>
                        <button class="button is-primary" type="submit" data-balloon="Clique para participar do processo seletivo." data-balloon-pos="down">
                            <span class="icon" id="@i" onmouseleave="$('#@i').removeClass('animated swing')" onmouseover="$('#@i').addClass('animated swing');">
                                <i class="fa fa-thumbs-up"></i>
                            </span> Tenho Interesse
                        </button>
                    </p>
                }
            }
        }
    </ul>

</div>