@model PortalSicoobDivicred.Models.Pgd
<html>

<script src='@Url.Content("~/Scripts/jquery.validate.js")' type="text/javascript"/>



<script>
    $(document).ready(function() {
        $('#CpfFuncionario').mask('000.000.000-00');
        $('#DataNascimentoFuncionario').mask('00/00/0000');
        $('#PisFuncionario').mask('000.00000.00-0');

       

    });

    
   


    function AbrirProcesso(id) {
        
        iziToast.show({

            message: 'Confirma a exclusão do Registro ?',
            position: 'center',
            progressBarColor: 'rgb(0, 255, 184)',
            buttons: [
                [
                    '<button>Sim</button>', function (instance, toast) {

                        $("#PerfilCompleto").empty();
                        $.ajax(
                            {
                                type: 'GET',
                                url: '/Pgd/ExcluirRegistro',
                                cache: true,
                                async: true,
                                data: { "id": id },
                                success: function (data) {
                                    instance.hide({
                                            transitionOut: 'fadeOutUp',
                                            onClosing: function (instance, toast, closedBy) {
                                                console.info('closedBy: ' + closedBy); //btn2

                                            }
                                        },
                                        toast,
                                        'close',
                                        'btn1');

                                    location.href = "/Pgd/Pgd?Mensagem=Pontuação excluída com sucesso";

                                }
                            });

                    }
                ],
               
            ]

        });
    }
    
    
</script>





<script src='@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")' type="text/javascript"></script>
@using (Html.BeginForm("Salvarproducao", "Pgd",FormMethod.Post))
{
    
    <div class="columns content">


        <div class="column is-6">
            <div class="control">
                <label class="label">Produto</label>

                <div class="select is-1">
                    @Html.DropDownListFor(m => m.idProduto, new SelectList(Model.descricaoProduto, "Value", "Text"), "SELECIONE O PRODUTO", new {id = "descricaoProduto"})
                    @Html.ValidationMessageFor(m => m.descricaoProduto, null, new {style = "color:red"})
                </div>
            </div>
        </div>
        <div class="column is-6">
            <div class="control" id="funcionario">
                <label class="label">Data Contratação</label>
                @Html.TextBoxFor(m => m.datacontratacao, null, new {@class = "input", type = "date"})
               
            </div>
        </div>

    </div>
    <div class="columns content">
        <div class="column is-6">
            
            
           
            <label class="label">CPF do cliente</label>
            
            @Html.TextBoxFor(m=>m.cpf,null,new {@class= "input input-search", type="text", onfocusout = "javascript:ValidaMascara(this.value)",onfocus="RemoveMascara()", placeholder = "Ex: 999.999.999 - 99" })
            @Html.ValidationMessageFor(m => m.cpf, null, new { style = "color:red" })
            
        </div>
        
        <div class="column is-6">
            
            <label class="label">Valor</label>
            @Html.TextBoxFor(m=>m.valor,null,new {@class="input",type="number", step="0.01" })
            
            
        </div>

        <div class="control" hidden>
            <label class="label">Funcionário</label>

            <div class="select is-1">
                @Html.DropDownListFor(m => m.idFuncionario, new SelectList(Model.nomeFuncionario, "Value", "Text"), "SELECIONE O FUNCIONARIO", new {id = "nomeFuncionario"})
                @Html.ValidationMessageFor(m => m.nomeFuncionario, null, new {style = "color:red"})
            </div>

        </div>
    </div>
    
    <div class="columns content">
        <div class="column is-12">
            <label class="label">Observação</label>
            
            @Html.TextAreaFor(m => m.observacao, new { @class = "textarea", type = "string", maxlength="200",placeholder="Max 200 caracteres" })
            <br/>
            <br/>
            <p class="control">
                <button type="submit" class="button is-success" id="SalvarProdução" data-balloon="Clique para salvar Produção" data-balloon-pos="down">
                    <span class="icon is-small">
                        <i class="fas fa-save">
                        </i>
                    </span>
                    <span class="name">Salvar Produção</span>
                </button>
            </p>
            
            
            

        </div>
    </div>
}
</html>