@{
    Layout = null;
}

<!DOCTYPE html>
<html style="background-color: #e6e6e6; ">
<head>
    <script type="text/javascript" src="@Url.Content("https://code.jquery.com/jquery-2.1.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/js/iziToast.min.js")"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="@Url.Content("~/Assets/css/balloon.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Assets/css/iziToast.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Assets/css/StyleSheet1.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Assets/css/animate.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Assets/css/bulma-steps/steps.js")"></script>

    <meta name="viewport" content="width=device-width" />

    <title>Principal</title>
 
</head>

<body id="CorpoPrincipal">
    <style>
        html {
            height: 100vh;
        }
        #Lateral {
            position: fixed;
            top: 0px;
        }

        .fixed {
            width: 50px;  
            float: left;
        }

        .fixed + div {
            margin-left: 50px;  
            overflow: hidden;
        }
        
       
    </style>
    <nav class="navbar is-transparent" style="background: rgb(42, 63, 84)">
        <div class="navbar-end is-center">
            <a class="navbar-item">
                <img src="/Images/LogoBranca.png" alt="Divicred Logo">
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" style="background: rgb(42, 63, 84);" aria-haspopup="true">
                    <span class="icon">
                        <i class="fas fa-bell" style="color: white"></i>
                    </span>
                </a>
                <div class="navbar-dropdown is-boxed" role="menu">
                    <div class="dropdown-item">
                        <a onclick="alert('Ola');">
                            <span class="icon">
                                <i class="fas fa-bell" style="color: white"></i>
                            </span>
                            <span>
                                <strong>Parabéns. </strong>você não possui nenhum alerta.
                            </span>
                        </a>
                        <div class="dropdown-divider"></div>
                    </div>

                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" aria-haspopup="true" style="background: rgb(42, 63, 84);">
                    <img src="/Uploads/@TempData["ImagemPerfil"]" style="border-radius: 50%;" data-toggle="tooltip" title="Editar perfil" class="avatar-image tooltip" /> <span class="name" style="color: white"> @TempData["NomeLateral"]</span>
                </a>

                <div class="navbar-dropdown is-boxed" role="menu">

                    <a class="navbar-item" style="color: #20b2aa" href="@Url.Action("Perfil","PainelColaborador")">
                        <span class="icon is-small">
                            <i class="fas fa-user"></i>
                        </span>Editar Perfil
                    </a>
                    <hr class="navbar-divider">
                    <a style="color: #20b2aa" class="navbar-item" href="@Url.Action("Logoff","Login")">
                        <span class="icon is-small">
                            <i class="fas fa-sign-out-alt"></i>
                        </span>Sair
                    </a>
                </div>
            </div>


        </div>
        <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
        </span>

    </nav>
    <div id-="main">
        <div class="columns">
            <aside id="Lateral" class="aside hero is-fullheight
               is-hidden-mobile " style="background: rgb(42, 63, 84)">
                <ul class="menu-list is-centered" style="padding: 10px; text-align: justify;">
                    <p class="item"></p>
                    <p class="menu-label" style="color: white" id="Geral">
                    </p>
                    <span class="icon">

                    </span>
                    <a href="@Url.Action("Principal","Principal")" class="item" style="color: #38d5c5;" data-balloon="Dashboard" data-balloon-pos="right">
                        <span class="icon is-flex">
                            <i class="fas fa-tachometer-alt"></i>
                        </span>
                    </a>
                    <a href="@Url.Action("Chamados","Webdesk")" class="item" style="color: #38d5c5;display:none" data-balloon="WebDesk" data-balloon-pos="right">
                        <span class="icon">
                            <i class="fas fa-tasks" aria-hidden="true"></i>
                        </span>
                    </a>
                    <a href="@Url.Action("Pgd","Pgd")" class="item" style="color: #38d5c5;" data-balloon="CIM" data-balloon-pos="right">
                        <span class="icon">
                            <i class="fas fa-trophy" aria-hidden="true"></i>
                        </span>
                    </a>
                    <a href="@Url.Action("Perfil","PainelColaborador")" class="item" style="color: #38d5c5;" data-balloon="Meu Perfil" data-balloon-pos="right">
                        <span class="icon">
                            <i class="fas fa-user-circle"></i>
                        </span>
                    </a>
                    <a href='@Url.Action("Curriculo","Curriculo")' class='item' style='color: #38d5c5;  @TempData["PermissaoCurriculo"]' data-balloon='Curriculos' data-balloon-pos='right'><span class='icon'  ><i class='fas fa-book'></i></span><span class='name'></span></a>

                    <a  href="@Url.Action("ColaboradorRh","PainelColaborador")" class="item" style="color: #38d5c5;@TempData["PermissaoCurriculo"]" data-balloon="Portal do Colaborador" data-balloon-pos="right">
                        <span class="icon">
                            <i class="fas fa-user-plus"></i>
                        </span>
                    </a>
                </ul>
            </aside>
            <div class="container">
                <div class="column is-12" id="Conteudo" name="Conteudo">
                    @RenderBody()
                </div>
            </div>
        </div>

    </div>
</body>
</html>